<link href="css/views/onelife.css" rel="stylesheet">

<div> 
      <div class="col-md-12 content-article">
        <div class="col-md-12 content-width header center">
            <div class="text-gold-header text-center">
                <span>{{'CONNECT_H' | translate }} </span>
            </div>
        </div>
        
        <div class="row">
           
        <div class="col-md-12 list">
             <hr>
                <div class="col-md-3"> 
                    <div>
                        <h3>{{'CONNECT_HOFF_H' | translate }}</h3>
                        <p>
                            {{'CONNECT_HOFF_TAT' | translate }}<br/>
                            Email: center@tat.or.th<br/>
                            Website: www.tourismthailand.org
                        </p>
                    </div>
                    <div>
                        <h3>{{'CONNECT_OO_H' | translate }}</h3>
                        {{'CONNECT_OO_AP_H' | translate }} 
                        <p>{{'CONNECT_OO_AP_KL' | translate }}<br/>
                            Email: tatkul@tat.or.th, <br/>
                            info@tourismthailand.my <br/>
                            Website: www.tourismthailand.my <br/>
                            {{'CONNECT_OO_AP_KL_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_SG' | translate }}<br/>
                            Email: tatsin@singnet.com.sg, <br/>
                            tatsin@tat.or.th<br/>
                            Website: www.tourismthailand.org.sg<br/>
                            {{'CONNECT_OO_AP_SG_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_G' | translate }}<br/>
                            Email: tatguangzhou@tat.or.th <br/>
                            {{'CONNECT_OO_AP_G_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_JT' | translate }}<br/>
                            Email Address: tatjak@tat.or.th<br/>
                            Website: www.wisatathailand.com<br/>
                            {{'CONNECT_OO_AP_JT_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_HCM' | translate }}<br/>
                            Email: tathcm@tat.or.th<br/>
                            Website: www.tourismthailand.org.vn<br/>
                            {{'CONNECT_OO_AP_HCM_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_HK' | translate }}<br/>
                            Email Address: tathkg@amazingthailand.org.hk, <br/>
                            tathkg@tat.or.th <br/>
                            Website: www.tourismthailand.org/hk<br/>
                            {{'CONNECT_OO_AP_HK_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_BJ' | translate }}<br/>
                            Email: tatbjs@tat.or.th, tatbjs@sohu.com<br/>
                            Website: www.tatbjs.org.cn<br/>
                            {{'CONNECT_OO_AP_BJ_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_KM' | translate }}<br/>
                            Email: tatkunming@tat.or.th
                            {{'CONNECT_OO_AP_KM_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_SH' | translate }}<br/>
                            Email: tatshi@tat.or.th
                            {{'CONNECT_OO_AP_SH_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_CD' | translate }}<br/>
                            Email: tatchengdu@tat.or.th<br/>
                            Website: www.tourismthailand.org.cn
                            {{'CONNECT_OO_AP_CD_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_TP' | translate }}<br/>
                            Email: tattpe@ms3.hinet.net, <br/>
                            tattpe@tat.or.th<br/>
                            Website: www.tattpe.org.tw<br/>
                            {{'CONNECT_OO_AP_TP_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_TY' | translate }}<br/>
                            Email: tattky@tattky.com, tattky@tat.or.th<br/>
                            Website: www.thailandtravel.or.jp<br/>
                            {{'CONNECT_OO_AP_TY_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_OS' | translate }}<br/>
                            Email: info@tatosa.com, tatosa@tat.or.th<br/>
                            Website: www.thailandtravel.or.jp<br/>
                            {{'CONNECT_OO_AP_OS_P1' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div>
                        <p>{{'CONNECT_OO_AP_SO' | translate }}<br/>
                            Email: info@tatsel.or.kr, tatsel@tat.or.th <br/>
                            Website: www.tatsel.or.kr<br/>
                            {{'CONNECT_OO_AP_SO_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_ND' | translate }}<br/>
                            Email: tatdel@tat.or.th<br/>
                            Website: www.amazingthailand.co.in<br/>
                            {{'CONNECT_OO_AP_ND_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_MB' | translate }}<br/>
                            Email: tatmumbai@tat.or.th<br/>
                            Website: www.amazingthailand.co.in<br/>
                            {{'CONNECT_OO_AP_MB_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AP_SN' | translate }}<br/>
                            Email: info@thailand.net.au, <br/>
                            tatsyd@tat.or.th<br/>
                            Website: www.touristhailand.org/au<br/>
                            {{'CONNECT_OO_AP_SN_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <h3>{{'CONNECT_OO_EP_H' | translate }}</h3>
                        <p>{{'CONNECT_OO_EP_LT' | translate }}<br/>
                            Email: info@tourismthailand.co.uk, <br/>
                            tatuk@tat.or.th<br/>
                            Website: www.tatuk@tat.or.th<br/>
                            {{'CONNECT_OO_EP_LT_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_EP_FF' | translate }}<br/>
                            Email: info@thailandtourismus.de, <br/>
                            tatfra@tat.or.th<br/>
                            Website: www.thailandtourismus.de<br/>
                            {{'CONNECT_OO_EP_FF_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_EP_PR' | translate }}<br/>
                            Email: tatpar@wanadoo.fr, tatpar@tat.or.th<br/>
                            {{'CONNECT_OO_EP_PR_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_EP_R' | translate }}<br/>
                            Email: tat.rome@iol.it, tatrome@tat.or.th<br/>
                            {{'CONNECT_OO_EP_R_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_EP_SH' | translate }}<br/>
                            Email: info@tourismthailand.se, <br/>
                            tatsth@tat.or.th<br/>
                            Website: www.tourismthailand.org<br/>
                            {{'CONNECT_OO_EP_SH_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_EP_MC' | translate }}<br/>
                            Email: tatmoscow@tat.or.th<br/>
                            Website: www.tourismthailand.ru<br/>
                            {{'CONNECT_OO_EP_MC_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_EP_DB' | translate }}<br/>
                            Email: tatdubai@tat.or.th<br/>
                            {{'CONNECT_OO_EP_DB_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <h3>{{'CONNECT_OO_AM_H' | translate }}</h3>
                        <p>{{'CONNECT_OO_AM_LA' | translate }}<br/>
                            Email: tatla@ix.netcom.com, tatla@tat.or.th
                            {{'CONNECT_OO_AM_LA_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_OO_AM_NY' | translate }}<br/>
                            Email: info@tatny.com, tatny@tat.or.th
                            {{'CONNECT_OO_AM_NY_P1' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div>
                        <h3>{{'CONNECT_LF_H' | translate }}</h3>
                        {{'CONNECT_LF_NR_H' | translate }}
                        <p>
                            {{'CONNECT_LF_NR_CM' | translate }}<br/>
                            Email: tatchmai@tat.or.th
                            {{'CONNECT_LF_NR_CM_P1' | translate }}     
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_MH' | translate }}<br/>
                            Email: tatmhs@tat.or.th
                            {{'CONNECT_LF_NR_MH_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_CR' | translate }}<br/>
                            Email: tatchrai@tat.or.th
                            {{'CONNECT_LF_NR_CR_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_P' | translate }}<br/>
                            Email: tatphrae@tat.or.th
                            tatphrae@gmail.com
                            {{'CONNECT_LF_NR_P_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_PN' | translate }}<br/>
                            Email: tatphlok@tat.or.th
                            {{'CONNECT_LF_NR_PN_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_T' | translate }}<br/>
                            Email: tattak@tat.or.th
                            {{'CONNECT_LF_NR_T_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_UT' | translate }}<br/>
                            Email: tatuthai@tat.or.th
                            {{'CONNECT_LF_NR_UT_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_SK' | translate }}<br/>
                            Email: tatsukho@tat.or.th
                            {{'CONNECT_LF_NR_SK_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'CONNECT_LF_CR_H' | translate }}
                        <p>{{'CONNECT_LF_CR_BK' | translate }}<br/>
                            Email: tatbangkok@tat.or.th
                            {{'CONNECT_LF_CR_BK_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_SS' | translate }}<br/>
                            Email: tatsmsk@tat.or.th
                            {{'CONNECT_LF_CR_SS_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_KK' | translate }}<br/>
                            Email: tatprachuap@tat.or.th
                            {{'CONNECT_LF_CR_KK_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_KB' | translate }}<br/>
                            Email: tourismkan@gmail.com, 
                            tatkan@tat.or.th
                            {{'CONNECT_LF_CR_KB_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_PB' | translate }}<br/>
                           Email: tatphet@tat.or.th
                            {{'CONNECT_LF_CR_PB_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_PN' | translate }}<br/>
                            Email: tatyutya@tat.or.th
                            {{'CONNECT_LF_CR_PN_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_SB' | translate }}<br/>
                            Email: tatsuphan@tat.or.th
                            {{'CONNECT_LF_CR_SB_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_CR_LB' | translate }}<br/>
                            Email: tatlobri@tat.or.th
                            {{'CONNECT_LF_CR_LB_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'CONNECT_LF_EG_H' | translate }}
                        <p>{{'CONNECT_LF_EG_PT' | translate }}<br/>
                            Email: tatchon@tat.or.th
                            {{'CONNECT_LF_EG_PT_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_EG_RY' | translate }}<br/>
                            Email: tatryong@tat.or.th
                            {{'CONNECT_LF_EG_RY_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_EG_T' | translate }}<br/>
                            Email: tattrat@tat.or.th
                            {{'CONNECT_LF_EG_T_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_EG_NN' | translate }}<br/>
                            Email: tatnayok@tat.or.th
                            {{'CONNECT_LF_EG_NN_P1' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div>
                        {{'CONNECT_LF_NER_H' | translate }}
                        <p>{{'CONNECT_LF_NR_NR' | translate }}<br/>
                            Email: tatsima@tat.or.th
                            {{'CONNECT_LF_NR_NR_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_UR' | translate }}<br/>
                            Email: tatubon@tat.or.th
                            {{'CONNECT_LF_NR_UR_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_KK' | translate }}<br/>
                            Email: tatkhkn@tat.or.th
                            {{'CONNECT_LF_NR_KK_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_NP' | translate }}<br/>
                            Email: tatphnom@tat.or.th
                            {{'CONNECT_LF_NR_NP_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_UT' | translate }}<br/>
                            Email: tatudon@tat.or.th
                            {{'CONNECT_LF_NR_UT_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_L' | translate }}<br/>
                            Email: tatloei@tat.or.th
                            {{'CONNECT_LF_NR_L_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_NR_SR' | translate }}<br/>
                            Email: tatsurin@tat.or.th
                            {{'CONNECT_LF_NR_SR_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'CONNECT_LF_SR_H' | translate }}
                        <p>{{'CONNECT_LF_SR_HY' | translate }}<br/>
                            Email: tathatyai@tat.or.th
                            {{'CONNECT_LF_SR_HY_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_NST' | translate }}<br/>
                            Email: tatnksri@tat.or.th
                            {{'CONNECT_LF_SR_NST_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_NT' | translate }}<br/>
                            Email: tatnara@tat.or.th
                            {{'CONNECT_LF_SR_NT_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_P' | translate }}<br/>
                            Email: tatphket@tat.or.th
                            {{'CONNECT_LF_SR_P_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_ST' | translate }}<br/>
                            Email: tatsurat@tat.or.th
                            {{'CONNECT_LF_SR_ST_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_T' | translate }}<br/>
                            Email: tattrang@tat.or.th
                            {{'CONNECT_LF_SR_T_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_K' | translate }}<br/>
                            Email: tatkrabi@tat.or.th
                            {{'CONNECT_LF_SR_K_P1' | translate }}
                        </p>
                    </div>
                    <div>
                        <p>{{'CONNECT_LF_SR_C' | translate }}<br/>
                            Email: tatchumphon@tat.or.th
                            {{'CONNECT_LF_SR_C_P1' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

