<link href="css/views/onelife.css" rel="stylesheet">

<div class="michelin"> 
      <div class="col-md-12 content-article">
        <div class="col-md-12 content-width header">
        <a class="anchor" id="goffing">a</a>
            <div class="content-text center">
                <div class="text-gold-header text-center">
                    <span>{{'CONNECT_H' | translate }} </span>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-12 list">
                <div class="col-md-3"> 
                    <div>
                        {{'CONNECT_HOFF_H' | translate }}
                        <p>
                            {{'CONNECT_HOFF_TAT' | translate }}<br/>
                            Email: center@tat.or.th<br/>
                            Website: www.tourismthailand.org
                        </p>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_AL_H' | translate }} 
                            <p>{{'ONCE_GOLFING_AL_P1' | translate }}</p>
                        <a href="http://www.ayodhyalinks.co.th">www.ayodhyalinks.co.th</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_AG_H' | translate }} 
                            <p>{{'ONCE_GOLFING_AG_P1' | translate }}</p>
                        <a href="http://www.alpinegolfclub.com">www.alpinegolfclub.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_SC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_SC_P1' | translate }}</p>
                        <a href="http://www.siamcountryclub.com">www.siamcountryclub.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BH_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BH_P1' | translate }}</p>
                        <a href="http://www.banyanthailand.com">www.banyanthailand.com</a>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div>
                        {{'ONCE_GOLFING_RM_H' | translate }} 
                            <p>{{'ONCE_GOLFING_RM_P1' | translate }}</p>
                        <a href="http://www.riverdalegolfclub.co.th/redmountain">www.riverdalegolfclub.co.th/redmountain</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BM_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BM_P1' | translate }}</p>
                        <a href="http://www.blackmountainhuahin.com">www.blackmountainhuahin.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BC_P1' | translate }}</p>
                        <a href="http://www.bluecanyonclub.com/golf">www.bluecanyonclub.com/golf</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_TC_H' | translate }}
                            <p>{{'ONCE_GOLFING_TC_P1' | translate }}</p>
                        <a href="http://www.thaicountryclub.com">www.thaicountryclub.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_SC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_SC_P1' | translate }}</p>
                        <a href="http://www.santiburi.com">www.santiburi.com</a>
                    </div>
                </div>
                    <div class="col-md-3"> 
                    <div>
                        {{'ONCE_GOLFING_RM_H' | translate }} 
                            <p>{{'ONCE_GOLFING_RM_P1' | translate }}</p>
                        <a href="http://www.riverdalegolfclub.co.th/redmountain">www.riverdalegolfclub.co.th/redmountain</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BM_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BM_P1' | translate }}</p>
                        <a href="http://www.blackmountainhuahin.com">www.blackmountainhuahin.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BC_P1' | translate }}</p>
                        <a href="http://www.bluecanyonclub.com/golf">www.bluecanyonclub.com/golf</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_TC_H' | translate }}
                            <p>{{'ONCE_GOLFING_TC_P1' | translate }}</p>
                        <a href="http://www.thaicountryclub.com">www.thaicountryclub.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_SC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_SC_P1' | translate }}</p>
                        <a href="http://www.santiburi.com">www.santiburi.com</a>
                    </div>
                </div>
                    <div class="col-md-3"> 
                    <div>
                        {{'ONCE_GOLFING_RM_H' | translate }} 
                            <p>{{'ONCE_GOLFING_RM_P1' | translate }}</p>
                        <a href="http://www.riverdalegolfclub.co.th/redmountain">www.riverdalegolfclub.co.th/redmountain</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BM_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BM_P1' | translate }}</p>
                        <a href="http://www.blackmountainhuahin.com">www.blackmountainhuahin.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_BC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_BC_P1' | translate }}</p>
                        <a href="http://www.bluecanyonclub.com/golf">www.bluecanyonclub.com/golf</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_TC_H' | translate }}
                            <p>{{'ONCE_GOLFING_TC_P1' | translate }}</p>
                        <a href="http://www.thaicountryclub.com">www.thaicountryclub.com</a>
                    </div>
                    <div>
                        {{'ONCE_GOLFING_SC_H' | translate }} 
                            <p>{{'ONCE_GOLFING_SC_P1' | translate }}</p>
                        <a href="http://www.santiburi.com">www.santiburi.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

