<link href="css/views/afterdark.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax col-md-7 col-sm-12">
        
    </div>
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>{{'AFD_H' | translate }}</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>{{'AFD_P1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

<div class="champagne.cigars.whisky"> 
    <div class="col-md-12 content-width header center" id="champagne.cigars.whisky">
        <div class="text-gold-header text-center">
            <span>{{'AFD_CCW_H' | translate }}</span>
        </div>
    </div>

     <div class="col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.hotelmusebangkok.com" target="_blank">
                        <img src="images/afterdark/image (11).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_CCW_BPT_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_CCW_BPT_P1' | translate }}</p>
                    <a href="http://www.hotelmusebangkok.com" target="_blank">www.hotelmusebangkok.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_CCW_CC_H' | translate }}</span>
                </div>
                <p>{{'AFD_CCW_CC_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.chindasiaclub.com" target="_blank">www.chindasiaclub.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.savelbergth.com" target="_blank">
                    <img src="images/afterdark/image (12).jpeg">
                </a>
            </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.kempinskibangkok.com" target="_blank">
                        <img src="images/afterdark/image (13).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_CCW_CLM_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_CCW_CLM_P1' | translate }}</p>
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">www.mandarinoriental.com/bangkok</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_CCW_LC_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_CCW_LC_P1' | translate }}<div class="text-right">
                    <a href="http://www.gaysorn.com" target="_blank">www.gaysorn.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.comohotels.com" target="_blank">
                    <img src="images/afterdark/image (21).jpeg">
                </a>
            </div>
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.le-beaulieu.com/lebar" target="_blank">
                        <img src="images/afterdark/image (20).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_CCW_LB_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_CCW_LB_P1' | translate }}</p>
                    <a href="http://www.le-beaulieu.com/lebar" target="_blank">www.le-beaulieu.com/lebar</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_CCW_TPL_H' | translate }}</span>
                </div>
                <p>{{'AFD_CCW_TPL_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.pacificcigar.com" target="_blank">www.pacificcigar.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.pacificcigar.com" target="_blank">
                    <img src="images/afterdark/image (15).jpeg">
                </a>
            </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.chiang-mai.anantara.com" target="_blank">
                        <img src="images/afterdark/image (29).jpeg" >
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_CCW_TB_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_CCW_TB_P1' | translate }} </p>
                    <a href="http://www.chiang-mai.anantara.com" target="_blank">www.chiang-mai.anantara.com</a>
                </div>
            </div>
              <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_CCW_TBL_H' | translate }}</span>
                </div>
                <p>{{'AFD_CCW_TBL_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.icbangkok.com" target="_blank">www.icbangkok.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.icbangkok.com" target="_blank">
                    <img src="images/afterdark/image (18).jpeg">
                </a>
            </div>
            </div>
        </div>
          <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.whisgars.com" target="_blank">
                        <img src="images/afterdark/image (34).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_CCW_W_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_CCW_W_P1' | translate }} </p>
                    <a href="http://www.whisgars.com" target="_blank">www.whisgars.com</a>
                </div>
            </div>
        </div>
          <hr>
        </div>
        <hr>
     </div>
</div>


<div class="clubs.bars"> 
    <div class="col-md-12 content-width header center" id="clubs.bars">
        <div class="text-gold-header text-center">
            <span>{{'AFD_CB_H' | translate }}</span>
        </div>
    </div>
 <div class="col-md-offset-1 col-md-10 content-article">
      <hr>
     <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.siam-bangkok.anantara.com" target="_blank">
                    <img src="images/afterdark/image (8).jpeg">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'AFD_CB_AAS_H' | translate }}  </span>
                </div>
                <p> {{'AFD_CB_AAS_P1' | translate }}  </p>
                <a href="http://www.siam-bangkok.anantara.com" target="_blank">www.siam-bangkok.anantara.com</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'AFD_CB_AR_H' | translate }}</span>
                </div>
                <p>
                   {{'AFD_CB_AR_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.facebook.com/A.R.Sutton.engineers" target="_blank">www.facebook.com/A.R.Sutton.engineers</a>
                 </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.facebook.com/A.R.Sutton.engineers" target="_blank">
                    <img src="images/afterdark/image (9).jpeg">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">
                        <img src="images/afterdark/image (10).jpeg">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_BB_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_BB_P1' | translate }}  </p>
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">www.mandarinoriental.com/bangkok</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_DS_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_DS_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.lebua.com" target="_blank">www.lebua.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.lebua.com" target="_blank">
                        <img src="images/afterdark/image (24).jpeg">
                    </a>
                </div>
            </div>
            <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.goldentriangle.anantara.com" target="_blank">
                        <img src="images/afterdark/image (16).jpeg">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_EB_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_EB_P1' | translate }}  </p>
                    <a href="http://www.goldentriangle.anantara.com" target="_blank">www.goldentriangle.anantara.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_JB_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_JB_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.josephboroski.com" target="_blank">www.josephboroski.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.josephboroski.com" target="_blank">
                        <img src="images/afterdark/image (19).jpeg">
                    </a>
                </div>
            </div>
            <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.kudeta.com/bangkok" target="_blank">
                        <img src="images/afterdark/image (14).jpeg">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_K_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_K_P1' | translate }}  </p>
                    <a href="http://www.kudeta.com/bangkok" target="_blank">www.kudeta.com/bangkok</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_MC_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_MC_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.facebook.com/maggiechoos" target="_blank">www.facebook.com/maggiechoos</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.facebook.com/maggiechoos" target="_blank">
                        <img src="images/afterdark/image (22).jpeg">
                    </a>
                </div>
            </div>
               <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.dharadhevi.com" target="_blank">
                        <img src="images/afterdark/image (1).jpeg" alt="Mezzaluna">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_HBD_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_HBD_P1' | translate }}  </p>
                    <a href="http://www.dharadhevi.com" target="_blank">www.dharadhevi.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_MBB_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_MBB_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.banyantree.com" target="_blank">www.banyantree.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.banyantree.com" target="_blank">
                        <img src="images/afterdark/image (30).jpeg">
                    </a>
                </div>
            </div>
               <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.stregis.com/bangkok" target="_blank">
                        <img src="images/afterdark/image (26).jpeg">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_SRB_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_SRB_P1' | translate }}  </p>
                    <a href="http://www.stregis.com/bangkok" target="_blank">www.stregis.com/bangkok</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_TSR_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_TSR_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.hotelmusebangkok.com" target="_blank">www.hotelmusebangkok.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.hotelmusebangkok.com" target="_blank">
                        <img src="images/afterdark/image (28).jpeg">
                    </a>
                </div>
            </div>
               <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.vesperbar.com" target="_blank">
                        <img src="images/afterdark/image (31).jpeg">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_V_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_V_P1' | translate }}  </p>
                    <a href="http://www.vesperbar.com" target="_blank">www.vesperbar.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_VL_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_VL_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.voguelounge.com" target="_blank">www.voguelounge.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.voguelounge.com" target="_blank">
                        <img src="images/afterdark/image (32).jpeg">
                    </a>
                </div>
            </div>
               <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.hilton.com" target="_blank">
                        <img src="images/afterdark/image (17).jpeg">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'AFD_CB_HR_H' | translate }}  </span>
                    </div>
                    <p> {{'AFD_CB_HR_P1' | translate }}  </p>
                    <a href="http://www.hilton.com" target="_blank">www.hilton.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'AFD_CB_ORL_H' | translate }}</span>
                    </div>
                    <p>
                    {{'AFD_CB_ORL_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.marriott.com" target="_blank">www.marriott.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.marriott.com" target="_blank">
                        <img src="images/afterdark/image (23).jpeg">
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="flavours"> 
    <div class="col-md-12 content-width header center" id="beach.clubs">
        <div class="text-gold-header text-center">
            <span>{{'AFD_BC_H' | translate }}</span>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.nikkibeachsamui.com" target="_blank">
                        <img src="images/afterdark/image (23).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_BC_NBK_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_BC_NBK_P1' | translate }}</p>
                    <a href="http://www.nikkibeachsamui.com" target="_blank">www.nikkibeachsamui.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_BC_BIP_H' | translate }}</span>
                </div>
                <p>{{'AFD_BC_BIP_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.bimibeachclub.com" target="_blank">www.bimibeachclub.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.bimibeachclub.com" target="_blank">
                    <img src="images/afterdark/image (6).jpeg">
                </a>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.blissbeachclub.co.th" target="_blank">
                        <img src="images/afterdark/image (2).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_BC_BLP_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_BC_BLP_P1' | translate }}</p>
                    <a href="http://www.blissbeachclub.com" target="_blank">www.blissbeachclub.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_BC_CP_H' | translate }}</span>
                </div>
                <p>{{'AFD_BC_CP_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.catchbeachclub.com" target="_blank">www.catchbeachclub.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.catchbeachclub.com" target="_blank">
                    <img src="images/afterdark/image (5).jpeg">
                </a>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.beachrepublic.com" target="_blank">
                        <img src="images/afterdark/image (4).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_BC_BRK_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_BC_BRK_P1' | translate }}</p>
                    <a href="http://www.beachrepublic.com" target="_blank">www.beachrepublic.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'AFD_BC_RKT_H' | translate }}</span>
                </div>
                <p>{{'AFD_BC_RKT_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.rekataphuket.com" target="_blank">www.rekataphuket.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.rekataphuket.com" target="_blank">
                    <img src="images/afterdark/image (27).jpeg">
                </a>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.xanabeachclub.com" target="_blank">
                        <img src="images/afterdark/image (7).jpeg">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'AFD_BC_XAL_H' | translate }}</span>
                    </div>
                    <p>{{'AFD_BC_XAL_P1' | translate }}</p>
                    <a href="http://www.xanabeachclub.com" target="_blank">www.xanabeachclub.com</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>