<link href="css/views/wellness.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>{{'WELLNESS_H' | translate }}</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>{{'WELLNESS_P1' | translate }}</p>
                </div>
                </div>
            </div>
        </div>
      </div>
    <div class="header-parallax col-md-7">
        
    </div>
</div>

<div class="spa.massage"> 
    <div class="col-md-12 content-width header" id="spa.massage">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'WELLNESS_SM_H' | translate }}</span>
            </div>
        </div>
    </div>
 <div class="col-md-offset-1 col-md-10 content-article">
      <hr>
     <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.dharadhevi.com" target="_blank">
                    <img src="images/wellness/image (20).jpeg" alt="Le Beaulieu">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'WELLNESS_SM_DT_H' | translate }}  </span>
                </div>
                <p> {{'WELLNESS_SM_DT_P1' | translate }}  </p>
                <a href="http://www.dharadhevi.com" target="_blank">www.dharadhevi.com</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'WELLNESS_SM_GT_H' | translate }}</span>
                </div>
                <p>
                   {{'WELLNESS_SM_GT_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.fourseasons.com/goldentriangle" target="_blank">www.fourseasons.com/goldentriangle</a>
                 </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.fourseasons.com/goldentriangle" target="_blank">
                    <img src="images/wellness/image (13).jpeg" alt="Le Normandie">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">
                        <img src="images/wellness/image (12).jpeg" alt="Water Library">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'WELLNESS_SM_MD_H' | translate }}  </span>
                    </div>
                    <p> {{'WELLNESS_SM_MD_P1' | translate }}  </p>
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">www.mandarinoriental.com/bangkok</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'WELLNESS_SM_TS_H' | translate }}</span>
                    </div>
                    <p>
                    {{'WELLNESS_SM_TS_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.trisara.com" target="_blank">www.trisara.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.trisara.com" target="_blank">
                        <img src="images/wellness/image (21).jpeg" alt="H Bistro (Koh Samui)">
                    </a>
                </div>
            </div>
            <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.thebarai.com" target="_blank">
                        <img src="images/wellness/image (1).jpeg" alt="Mezzaluna">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'WELLNESS_SM_HR_H' | translate }}  </span>
                    </div>
                    <p> {{'WELLNESS_SM_HR_P1' | translate }}  </p>
                    <a href="http://www.thebarai.com" target="_blank">www.thebarai.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'WELLNESS_SM_SL_H' | translate }}</span>
                    </div>
                    <p>
                    {{'WELLNESS_SM_SL_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.shangri-la.com" target="_blank">www.shangri-la.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http:/www.shangri-la.com" target="_blank">
                        <img src="images/wellness/image (6).jpeg" alt="Farang Ses (Chiang Mai)">
                    </a>
                </div>
            </div>
              <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.peninsula.com" target="_blank">
                        <img src="images/wellness/image (7).jpeg" alt="Mezzaluna">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'WELLNESS_SM_PS_H' | translate }}  </span>
                    </div>
                    <p> {{'WELLNESS_SM_PS_P1' | translate }}  </p>
                    <a href="http://www.peninsula.com" target="_blank">www.peninsula.com</a>
                </div>
            </div>
            <hr>        
    </div>
</div>


<div class="yoga"> 
    <div class="col-md-12 content-width header" id="yoga">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'WELLNESS_Y_H' | translate }}</span>
            </div>
        </div>
    </div>
 <div class="col-md-offset-1 col-md-10 content-article">
        <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'WELLNESS_SM_SK_H' | translate }}</span>
                    </div>
                    <p>
                    {{'WELLNESS_SM_SK_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.samahitaretreat.com" target="_blank">www.samahitaretreat.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.samahitaretreat.com" target="_blank">
                        <img src="images/wellness/image (16).jpeg" alt="Farang Ses (Chiang Mai)">
                    </a>
                </div>
            </div>
                 <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.banyantree.com" target="_blank">
                        <img src="images/wellness/image (4).jpeg" alt="Mezzaluna">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'WELLNESS_SM_SS_H' | translate }}  </span>
                    </div>
                    <p> {{'WELLNESS_SM_SS_P1' | translate }}  </p>
                    <a href="http://www.banyantree.com" target="_blank">www.banyantree.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'WELLNESS_SM_JY_H' | translate }}</span>
                    </div>
                    <p>
                    {{'WELLNESS_SM_JY_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.chirawan.com" target="_blank">www.chirawan.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.chirawan.com" target="_blank">
                        <img src="images/wellness/imSDSDage (1).jpeg" alt="Farang Ses (Chiang Mai)">
                    </a>
                </div>
            </div>
              <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.thesanctuarythailand.com" target="_blank">
                        <img src="images/wellness/image (18).jpeg" alt="Mezzaluna">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'WELLNESS_SM_SKP_H' | translate }}  </span>
                    </div>
                    <p> {{'WELLNESS_SM_SKP_P1' | translate }}  </p>
                    <a href="http://www.thesanctuarythailand.com" target="_blank">www.thesanctuarythailand.com</a>
                </div>
            </div>
</div>
</div>



<div class="meditation"> 
    <div class="col-md-12 content-width header" id="meditation">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'WELLNESS_M_H' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.dipabhavan.weebly.com" target="_blank">
                        <img src="images/wellness/image (2).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_M_DMC_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_M_DMC_P1' | translate }}</p>
                    <a href="http://www.dipabhavan.weebly.com" target="_blank">www.dipabhavan.weebly.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-12">
                <div class="text-gold-header2 text-right">
                    <span>{{'WELLNESS_M_DK_H' | translate }}</span>
                </div>
                <p>{{'WELLNESS_M_DK_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.kamala.dhamma.org" target="_blank">www.kamala.dhamma.org</a>
                </div>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_M_MWM_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_M_MWM_P1' | translate }}</p>
                    <a href="http://www.mdwmeditation.org" target="_blank">www.mdwmeditation.org</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-12">
                <div class="text-gold-header2 text-right">
                    <span>{{'WELLNESS_M_WSM_H' | translate }}</span>
                </div>
                <p>{{'WELLNESS_M_WSM_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.suanmokkh-idh.org" target="_blank">www.suanmokkh-idh.org</a>
                </div>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_M_JIP_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_M_JIP_P1' | translate }}</p>
                    <a href="http://www.kowtahm.com" target="_blank">www.kowtahm.com</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="rehab.detox"> 
    <div class="col-md-12 content-width header" id="rehab.detox">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'WELLNESS_RD_H' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'WELLNESS_RD_SK_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_SK_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.absolutesanctuary.com" target="_blank">www.absolutesanctuary.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.absolutesanctuary.com" target="_blank">
                        <img src="images/wellness/image (5).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.hope-rehab-center-thailand.com" target="_blank">
                        <img src="images/wellness/image (14).jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_RD_HR_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_HR_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.hope-rehab-center-thailand.com" target="_blank">www.hope-rehab-center-thailand.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'WELLNESS_RD_CCM_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_CCM_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.thecabinchiangmai.com" target="_blank">www.thecabinchiangmai.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.thecabinchiangmai.com" target="_blank">
                        <img src="images/wellness/image (10).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.dararehab.com" target="_blank">
                        <img src="images/wellness/image (9).jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_RD_DR_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_DR_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.dararehab.com" target="_blank">www.dararehab.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'WELLNESS_RD_KY_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_KY_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.feellifespotential.com" target="_blank">www.feellifespotential.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.feellifespotential.com" target="_blank">
                        <img src="images/wellness/image (15).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.chivasom.com" target="_blank">
                        <img src="images/wellness/image (8).jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_RD_CH_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_CH_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.chivasom.com" target="_blank">www.chivasom.com</a>
                    </div>
                </div>
            </div>
        </div>
            <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'WELLNESS_RD_SPA_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_SPA_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.thespakohchang.com" target="_blank">www.thespakohchang.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.thespakohchang.com" target="_blank">
                        <img src="images/wellness/image (3).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.thesensesresort.com" target="_blank">
                        <img src="images/wellness/image (11).jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'WELLNESS_RD_SS_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_SS_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.thesensesresort.com" target="_blank">www.thesensesresort.com</a>
                    </div>
                </div>
            </div>
        </div>
            <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'WELLNESS_RD_AH_H' | translate }}</span>
                    </div>
                    <p>{{'WELLNESS_RD_AH_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.atsumihealing.com" target="_blank">www.atsumihealing.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.atsumihealing.com" target="_blank">
                        <img src="images/wellness/image (17).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

