

.header-parallax {
    /* The image used */
    background-image: url("/images/afterdark/image (25).jpeg");

    background-repeat: no-repeat;


    background-position: center;
    background-size: cover;

    height: 100% !important;
    min-height: 300px !important;
}

.content-dining{
    height: auto;
}

.remove-height{
    height: auto !important;
    min-height: 0px !important;
}

.col-one{
    margin-top: -20px;
}


@media (min-width: 768px){
    .header-parallax {
        /* The image used */
        background-image: url("/images/afterdark/image (25).jpeg");

        /* Set a specific height */
        height: 800px !important;
        min-height: 800px !important;
     

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .content-dining{
        height: 650px;
    }

}