

.header-parallax {
    /* The image used */
    background-image: url("/images/hotel_resort/La Residence Royale Hua Hin Balcony Facing Ocean_resize.jpeg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}