

.header-parallax {
    /* The image used */
    background-image: url("/images/dining/nahm-southern curry of mudcrab.jpeg");

    background-repeat: no-repeat;


    background-position: center;
    background-size: cover;

    margin-top: -20px;

        height: 100% !important;
    min-height: 300px !important;
}

.content-dining{
    height: auto;
}

.remove-height{
    height: auto !important;
    min-height: 0px !important;
}

 .content-article img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    
.hospital-link a{
        display: block;
    }

@media (min-width: 768px){
    .header-parallax {
        /* The image used */
        background-image: url("/images/dining/nahm-southern curry of mudcrab.jpeg");

        /* Set a specific height */
        height: 900px !important;
        min-height: 900px !important;
     

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        margin-top: -20px;
    }

    .content-dining{
        height: 650px;
    }

    .hospital-link{
        float: right;
        text-align: right;
    }
    
}