<link href="css/views/dining.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax col-md-7">
        
    </div>
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>Fine Dining <br> A Taste for Life</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>From a bevy of restaurants with Michelin-star connections to dining experiences that represent cuisines from all around the world – not to mention the unforgettable flavours of Thailand – the culinary scene in the Kingdom has reached new heights.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>

<div class="michelin"> 
    <div class="col-md-12 content-width header" id="michelin">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>The Michelin Connection</span>
            </div>
        </div>
    </div>

     <div class="col-md-offset-1 col-md-10 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.robuchon-bangkok.com" target="_blank">
                        <img src="images/dining/L’Atelier de Joël Robuchon - Bangkok 1.jpeg" alt="L’Atelier de Joël Robuchon">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>L’Atelier de Joël Robuchon</span>
                    </div>
                    <p>An experimental approach to fine French dining, elegant yet contemporary interiors and a high level of interaction between chefs and diners is the winning formula that has earned L’Atelier de Joël Robuchon Michelin stars in a dozen cities around the world.  
                    </p>
                    <a href="http://www.robuchon-bangkok.com" target="_blank">www.robuchon-bangkok.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>Savelberg Thailand</span>
                </div>
                <p>Savelberg Thailand is the first overseas venture of Dutch chef Henk Savelberg, whose various restaurants in the Netherlands have received Michelin stars for more than three decades. His contemporary French cuisine is just as pleasing to the eye as it is to the palate.</p>
                <div class="text-right">
                    <a href="http://www.savelbergth.com" target="_blank">www.savelbergth.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.savelbergth.com" target="_blank">
                    <img src="images/dining/Savelberg_044.jpeg" alt="The Sukhothai Bangkok">
                </a>
            </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.kempinskibangkok.com" target="_blank">
                        <img src="images/dining/SRA BUA-15.jpeg" alt="The Siam, Bangkok">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>Sra Bua by Kiin Kiin</span>
                    </div>
                    <p>Chef Henrik Yde-Andersen’s modern interpretation of Thai food has earned him a Michelin star at Copenhagen-based Kiin Kiin since 2007. At his Bangkok outpost, Henrik breaks with long established culinary traditions to offer a sensory gastronomic experience in sophisticated surroundings with a contemporary Asian touch. 
                    </p>
                    <a href="http://www.kempinskibangkok.com" target="_blank">www.kempinskibangkok.com</a>
                </div>
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>Nahm</span>
                    </div>
                    <p>Through diligent research and exemplary gastronomic prowess, Australian chef David Thompson has earned himself a status as an authority on Thai food. Under David’s culinary tutelage, Nahm (located at the Metropolitan Bangkok hotel) has become a hallmark of traditional Thai cuisine, winning the hearts of Thais and foreigners alike.</p>
                    <div class="text-right">
                    <a href="http://www.comohotels.com" target="_blank">www.comohotels.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.comohotels.com" target="_blank">
                    <img src="images/dining/44430926-H1-Terrace_seating.jpeg" alt="Nahm">
                </a>
            </div>
            </div>
        </div>
        <hr>
     </div>
</div>
