<link href="css/views/dining.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax col-md-7 col-sm-12">
        
    </div>
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>{{'DINNING_H' | translate }}</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>{{'DINNING_P1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
   
</div>

<div class="michelin"> 
    <hr class="gold-hr">
    <div class="col-md-12 content-width header center" id="michelin">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_MICHELIN_H' | translate }}</span>
        </div>
    </div>

     <div class="col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.robuchon-bangkok.com" target="_blank">
                        <img src="images/dining/image.jpeg" alt="L’Atelier de Joël Robuchon">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_MICHELIN_LD_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_MICHELIN_LD_P1' | translate }}</p>
                    <a href="http://www.robuchon-bangkok.com" target="_blank">www.robuchon-bangkok.com</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
           
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_MICHELIN_ST_H' | translate }}</span>
                </div>
                <p>{{'DINNING_MICHELIN_ST_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.savelbergth.com" target="_blank">www.savelbergth.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.savelbergth.com" target="_blank">
                    <img src="images/dining/Savelberg_044.jpeg" alt="The Sukhothai Bangkok">
                </a>
            </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.kempinskibangkok.com" target="_blank">
                        <img src="images/dining/SRA BUA-15.jpeg" alt="The Siam, Bangkok">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_MICHELIN_SKK_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_MICHELIN_SKK_P1' | translate }}</p>
                    <a href="http://www.kempinskibangkok.com" target="_blank">www.kempinskibangkok.com</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_MICHELIN_N_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_MICHELIN_N_P1' | translate }}<div class="text-right">
                    <a href="http://www.comohotels.com" target="_blank">www.comohotels.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.comohotels.com" target="_blank">
                    <img src="images/dining/44430926-H1-Terrace_seating.jpeg" alt="Nahm">
                </a>
            </div>
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.ginza-sushiichi.jp/english" target="_blank">
                        <img src="images/dining/IMG_8695.jpeg" alt="Ginza Sushi Ichi">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_MICHELIN_GG_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_MICHELIN_GG_P1' | translate }}</p>
                    <a href="http://www.ginza-sushiichi.jp/english" target="_blank">www.ginza-sushiichi.jp/english</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_MICHELIN_A_H' | translate }}</span>
                </div>
                <p>{{'DINNING_MICHELIN_A_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.aziamendi.com" target="_blank">www.aziamendi.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.aziamendi.com" target="_blank">
                    <img src="images/dining/24.Aziamendi_inside.jpeg" alt="The Sukhothai Bangkok">
                </a>
            </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.jaime-bangkok.com" target="_blank">
                        <img src="images/dining/image2.jpeg" alt="The Siam, Bangkok">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_MICHELIN_JM_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_MICHELIN_JM_P1' | translate }} </p>
                    <a href="http://www.jaime-bangkok.com" target="_blank">www.jaime-bangkok.com</a>
                </div>
            </div>
        </div>
        <hr>
     </div>
</div>

<div class="french"> 
    <div class="col-md-12 content-width header center" id="french">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_FRENCH_H' | translate }}</span>
        </div>
    </div>
 <div class="col-md-offset-1 col-md-10 content-article">
      <hr>
     <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.le-beaulieu.com" target="_blank">
                    <img src="images/dining/Dining Area.jpeg" alt="Le Beaulieu">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'DINNING_LB_H' | translate }}  </span>
                </div>
                <p> {{'DINNING_LB_P1' | translate }}  </p>
                <a href="http://www.le-beaulieu.com" target="_blank">www.le-beaulieu.com</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'DINNING_LN_H' | translate }}</span>
                </div>
                <p>
                   {{'DINNING_LN_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.mandarinoriental.com" target="_blank">www.mandarinoriental.com</a>
                 </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.mandarinoriental.com" target="_blank">
                    <img src="images/dining/Le Normandie Mandarin Oriental Bangkok.jpeg" alt="Le Normandie">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="www.waterlibrary.com" target="_blank">
                        <img src="images/dining/WL_039.jpeg" alt="Water Library">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'DINNING_WL_H' | translate }}  </span>
                    </div>
                    <p> {{'DINNING_WL_P1' | translate }}  </p>
                    <a href="http://www.waterlibrary.com" target="_blank">www.waterlibrary.com</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'DINNING_BKS_H' | translate }}</span>
                    </div>
                    <p>
                    {{'DINNING_BKS_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.hansarsamui.com" target="_blank">www.hansarsamui.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.hansarsamui.com" target="_blank">
                        <img src="images/dining/H Bistro 1.jpeg" alt="H Bistro (Koh Samui)">
                    </a>
                </div>
            </div>
            <hr>
              <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.lebua.com/restaurants" target="_blank">
                        <img src="images/dining/Mezzaluna_025.jpeg" alt="Mezzaluna">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'DINNING_M_H' | translate }}  </span>
                    </div>
                    <p> {{'DINNING_M_P1' | translate }}  </p>
                    <a href="http://www.lebua.com/restaurants" target="_blank">www.lebua.com/restaurants</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'DINNING_TSM_H' | translate }}</span>
                    </div>
                    <p>
                    {{'DINNING_TSM_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.dharadhevi.com" target="_blank">www.dharadhevi.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.dharadhevi.com" target="_blank">
                        <img src="images/dining/IMG_7946.jpeg" alt="Farang Ses (Chiang Mai)">
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="flavours"> 
    <div class="col-md-12 content-width header center" id="flavours.thailand">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_FLAVOURS_H' | translate }}</span>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.dharadhevi.com" target="_blank">
                        <img src="images/dining/Le Grand Lanna, Dhara Dhevi Chiang Mai.jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_LGLM_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_LGLM_P1' | translate }}</p>
                    <a href="http://www.dharadhevi.com" target="_blank">www.dharadhevi.com</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_SRN_H' | translate }}</span>
                </div>
                <p>{{'DINNING_SRN_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.mandarinoriental.com" target="_blank">www.mandarinoriental.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.mandarinoriental.com" target="_blank">
                    <img src="images/dining/Sala Rim Naam Mandarin Oriental Bangkok.jpeg" alt="Sala Rim Naam">
                </a>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.bolan.co.th" target="_blank">
                        <img src="images/dining/Green Curry of Beef Shank.jpeg" alt="Bo.lan">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_BL_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_BL_P1' | translate }}</p>
                    <a href="http://www.bolan.co.th" target="_blank">www.bolan.co.th</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_LSC_H' | translate }}</span>
                </div>
                <p>{{'DINNING_LSC_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.issaya.com" target="_blank">www.issaya.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.issaya.com" target="_blank">
                    <img src="images/dining/interior 2.jpeg" alt="Issaya Siamese Club">
                </a>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.ledubkk.com" target="_blank">
                        <img src="images/dining/ConpoyCongee.jpeg" alt="Le Du">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_LD_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_LD_P1' | translate }}</p>
                    <a href="http://www.ledubkk.com" target="_blank">www.ledubkk.com</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_P_H' | translate }}</span>
                </div>
                <p>{{'DINNING_P_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.pastebangkok.com" target="_blank">www.pastebangkok.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.pastebangkok.com" target="_blank">
                    <img src="images/dining/IMG_6298.jpeg" alt="Paste">
                </a>
            </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.conradhotels.hilton.com" target="_blank">
                        <img src="images/dining/Jahn Restaurant, Conrad Koh Samui.jpeg" alt="Jahn (Koh Samui)">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_JKS_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_JKS_P1' | translate }}</p>
                    <a href="http://www.conradhotels.hilton.com" target="_blank">www.conradhotels.hilton.com</a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'DINNING_BEP_H' | translate }}</span>
                </div>
                <p>{{'DINNING_BEP_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.blueelephant.com/phuket" target="_blank">www.blueelephant.com/phuket</a>
                </div>
            </div>
            <div class="col-md-4">
                <a href="http://www.blueelephant.com/phuket" target="_blank">
                    <img src="images/dining/thai-restaurant-in-phuket.jpeg" alt="Blue Elephant (Phuket)">
                </a>
            </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="imperial"> 
    <div class="col-md-12 content-width header center" id="imperial">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_IMPERIAL_H' | translate }}</span>
        </div>
    </div>
 <div class="col-md-offset-1 col-md-10 content-article">
      <hr>
     <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.intercontinental.com/bangkok" target="_blank">
                    <img src="images/dining/SMP 2.jpeg" alt="Le Beaulieu">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'DINNING_IMPERIAL_SP_H' | translate }}  </span>
                </div>
                <p> {{'DINNING_IMPERIAL_SP_P1' | translate }}  </p>
                <a href="http://www.intercontinental.com/bangkok" target="_blank">www.intercontinental.com/bangkok</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'DINNING_IMPERIAL_FY_H' | translate }}</span>
                </div>
                <p>
                   {{'DINNING_IMPERIAL_FY_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.renaissance-hotels.marriott.com" target="_blank">www.renaissance-hotels.marriott.com</a>
                 </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.renaissance-hotels.marriott.com" target="_blank">
                    <img src="images/dining/Fei_Ya_3447 Edited.jpeg" alt="Le Normandie">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.lebua.com/breeze" target="_blank">
                        <img src="images/dining/lebua_TheDome_Breeze.jpeg" alt="Water Library">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'DINNING_IMPERIAL_BZ_H' | translate }}  </span>
                    </div>
                    <p> {{'DINNING_IMPERIAL_BZ_P1' | translate }}  </p>
                    <a href="http://www.lebua.com/breeze" target="_blank">www.lebua.com/breeze</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'DINNING_IMPERIAL_SP_H' | translate }}</span>
                    </div>
                    <p>
                    {{'DINNING_IMPERIAL_SP_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.shangri-la.com/bangkok" target="_blank">www.shangri-la.com/bangkok</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.shangri-la.com/bangkok" target="_blank">
                        <img src="images/dining/Shang Palace1.jpeg" alt="H Bistro (Koh Samui)">
                    </a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.mandarinoriental.com" target="_blank">
                        <img src="images/dining/China House Mandarin Oriental Bangkok.jpeg" alt="Water Library">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'DINNING_IMPERIAL_CH_H' | translate }}  </span>
                    </div>
                    <p> {{'DINNING_IMPERIAL_CH_P1' | translate }}  </p>
                    <a href="http://www.mandarinoriental.com" target="_blank">www.mandarinoriental.com</a>
                </div>
            </div>
             <hr>
        </div>
    </div>
</div>

<div class="italy"> 
    <div class="col-md-12 content-width header center" id="italy">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_ITALY_H' | translate }}</span>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'DINNING_ITALY_O_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_ITALY_O_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.wbopus.com" target="_blank">www.wbopus.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.wbopus.com" target="_blank">
                        <img src="images/dining/DSCF5061-1024x6431-906x568.jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.sukhothai.com" target="_blank">
                        <img src="images/dining/La Scala_Open kitchen_Chefs.jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_ITALY_LS_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_ITALY_LS_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.sukhothai.com" target="_blank">www.sukhothai.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'DINNING_ITALY_LBAL_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_ITALY_LBAL_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.labottega.name" target="_blank">www.labottega.name</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.labottega.name" target="_blank">
                        <img src="images/dining/Le Grand Lanna, Dhara Dhevi Chiang Mai.jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.stregisbangkok.com" target="_blank">
                        <img src="images/dining/Jojo Restaurant_High table1.jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_ITALY_TJ_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_ITALY_TJ_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.stregisbangkok.com" target="_blank">www.stregisbangkok.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'DINNING_ITALY_ET_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_ITALY_ET_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.enotecabangkok.com" target="_blank">www.enotecabangkok.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.enotecabangkok.com" target="_blank">
                        <img src="images/dining/Enoteca Food Shoot-689.jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.sensibangkok.com" target="_blank">
                        <img src="images/dining/Sensi_007.jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_ITALY_SS_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_ITALY_SS_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.sensibangkok.com" target="_blank">www.sensibangkok.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="rising"> 
    <div class="col-md-12 content-width header center" id="rising.sun">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_RISING_H' | translate }}</span>
        </div>
    </div>
 <div class="col-md-offset-1 col-md-10 content-article">
      <hr>
     <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.mugendaibkk.com" target="_blank">
                    <img src="images/dining/mugendai.jpeg" alt="Le Beaulieu">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'DINNING_RISING_MD_H' | translate }}  </span>
                </div>
                <p> {{'DINNING_RISING_MD_P1' | translate }}  </p>
                <a href="http://www.mugendaibkk.com" target="_blank">www.mugendaibkk.com</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'DINNING_RISING_ZA_H' | translate }}</span>
                </div>
                <p>
                   {{'DINNING_RISING_ZA_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.zumarestaurant.com" target="_blank">www.zumarestaurant.com</a>
                 </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.zumarestaurant.com" target="_blank">
                    <img src="images/dining/Double Ninth Festival Kaiseki_Yamazato 2[1].jpeg" alt="Le Normandie">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.kudeta.net" target="_blank">
                        <img src="images/dining/kudeta_011.jpeg" alt="Water Library">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2">
                        <span> {{'DINNING_RISING_ST_H' | translate }}  </span>
                    </div>
                    <p> {{'DINNING_RISING_ST_P1' | translate }}  </p>
                    <a href="http://www.kudeta.net" target="_blank">www.kudeta.net</a>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8 col-lg-9">
                    <div class="text-gold-header2  text-right">
                        <span>{{'DINNING_RISING_YT_H' | translate }}</span>
                    </div>
                    <p>
                    {{'DINNING_RISING_YT_P1' | translate }}
                    </p>
                    <div class="text-right">
                        <a href="http://www.okurabangkok.com" target="_blank">www.okurabangkok.com</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <a href="http://www.okurabangkok.com" target="_blank">
                        <img src="images/dining/Hokkaido seafood sensation at Yamazato.jpeg" alt="H Bistro (Koh Samui)">
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>

<div class="special"> 
    <div class="col-md-12 content-width header center" id="special">
        <div class="text-gold-header text-center">
            <span>{{'DINNING_SPECIAL_H' | translate }}</span>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'DINNING_SPECIAL_GG_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_SPECIAL_GG_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.eatatgaggan.com" target="_blank">www.eatatgaggan.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.eatatgaggan.com" target="_blank">
                        <img src="images/dining/Gaggan17569.jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.eatmerestaurant.com" target="_blank">
                        <img src="images/dining/EatMeRestaurantBangkok_DiningRoom_4869.jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_SPECIAL_EM_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_SPECIAL_EM_P1' | translate }}</p>
                    <div class="">
                        <a href="http://www.eatmerestaurant.com" target="_blank">www.eatmerestaurant.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'DINNING_SPECIAL_AT_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_SPECIAL_AT_P1' | translate }}</p>
                    <div class="text-right">
                        <a href="http://www.mandarinoriental.com" target="_blank">www.mandarinoriental.com</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="http://www.mandarinoriental.com" target="_blank">
                        <img src="images/dining/Authors Lounge Mandarin Oriental Bangkok.jpeg" alt="Le Grand Lanna (Chiang Mai)">
                    </a>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <a href="http://www.centarahotelsresorts.com" target="_blank">
                        <img src="images/dining/FiftyFive_019.jpeg" alt="Sala Rim Naam">
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'DINNING_SPECIAL_ST_H' | translate }}</span>
                    </div>
                    <p>{{'DINNING_SPECIAL_ST_P2' | translate }}</p>
                    <div class="">
                        <a href="http://www.centarahotelsresorts.com" target="_blank">www.centarahotelsresorts.com</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
