<link href="css/views/madeinth.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>{{'MADE_IN_TH_H' | translate }}</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>{{'MADE_IN_TH_P1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <div class="header-parallax col-md-7">
        
    </div>
</div>

<div class="fashion"> 
    <div class="col-md-12 content-width header" id="fashion">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'MADE_IN_TH_FASHION_H' | translate }}</span>
            </div>
        </div>
    </div>

        <div class="row">
           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4"> 
                    <div>
                        {{'MADE_IN_TH_FASHION_BOYY' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_BOYY_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_BOYY_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_CGL' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_CGL_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_CGL_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_CET' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_CET_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_CET_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_D' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_D_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_D_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_F' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_F_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_F_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_JT' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_JT_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_JT_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_KB' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_KB_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_KB_P2' | translate }}
                        </p>
                    </div>
                          <div>
                        {{'MADE_IN_TH_FASHION_N' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_N_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_N_P2' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4"> 
                    
                    <div>
                        {{'MADE_IN_TH_FASHION_RR' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_RR_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_RR_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_P' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_P_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_P_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_S' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_S_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_S_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_TC' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_TC_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_TC_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_TA' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_TA_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_TA_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_TG' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_TG_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_TG_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_VI' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_VI_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_VI_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_N' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_N_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_N_P2' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (9).jpeg" style="max-width :450px;">
                </div>
                <hr>
            </div>
        </div>
</div>

<div class="jewellery"> 
    <div class="col-md-12 content-width header" id="jewellery">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'MADE_IN_TH_JW_H' | translate }}</span>
            </div>
        </div>
    </div>

        <div class="row">
           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (4).jpeg" style="max-width :430px;">
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (1).jpeg " style="max-width :430px;"> 
                    <div>
                        {{'MADE_IN_TH_JW_BG' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_BG_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_BG_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_BR' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_BR_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_BR_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_C' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_C_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_C_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_F' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_F_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_F_P2' | translate }}
                        </p>
                    </div>
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (2).jpeg" style="max-width :430px;">
                    <div>
                        {{'MADE_IN_TH_JW_GP' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_GP_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_GP_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_MA' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_MA_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_MA_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_S' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_S_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_S_P2' | translate }}
                        </p>
                </div>
            </div>
            <hr>
        </div>
</div>


<div class="spa-products"> 
    <div class="col-md-12 content-width header" id="spa.products">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'MADE_IN_TH_SP_H' | translate }}</span>
            </div>
        </div>
    </div>

        <div class="row">
           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (8).jpeg" style="max-width :450px;">
                </div>
                <div class="col-md-4"> 
                    <div>
                        {{'MADE_IN_TH_SP_D' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_D_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_D_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_SP_HN' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_H_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_H_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_SP_O' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_O_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_O_P2' | translate }}
                        </p>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div>
                        {{'MADE_IN_TH_SP_P' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_P_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_P_P2' | translate }}
                        </p>
                    </div> 
                    <div>
                        {{'MADE_IN_TH_SP_T' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_T_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_T_P2' | translate }}
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_SP_V' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_V_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_V_P2' | translate }}
                        </p>
                    </div>
                </div>
                <hr>
            </div>
</div>

