<link href="css/views/madeinth.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>{{'MADE_IN_TH_H' | translate }}</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>{{'MADE_IN_TH_P1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <div class="header-parallax col-md-7">
        
    </div>
</div>

<div class="fashion"> 
    <div class="col-md-12 content-width header center" id="fashion">
        <div class="text-gold-header text-center">
            <span>{{'MADE_IN_TH_FASHION_H' | translate }}</span>
        </div>
    </div>

        <div class="row">
           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4"> 
                    <div>
                        {{'MADE_IN_TH_FASHION_BOYY' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_BOYY_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_BOYY_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.boyybag.com">www.boyybag.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_CGL' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_CGL_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_CGL_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.chaigoldlabel.com">www.chaigoldlabel.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_CET' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_CET_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_CET_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.curated.co.th">www.curated.co.th</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_D' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_D_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_D_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.disaya.com">www.disaya.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_F' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_F_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_F_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.flynowbangkok.com">www.flynowbangkok.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_JT' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_JT_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_JT_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.jimthompson.com">www.jimthompson.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_KB' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_KB_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_KB_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.kaiboutique.com">www.kaiboutique.com</a>
                    </div>
                          <div>
                        {{'MADE_IN_TH_FASHION_NH' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_NH_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_NH_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.nasha-accessories.com">www.nasha-accessories.com</a>
                    </div>
                </div>
                <div class="col-md-4">                 
                    <div>
                        {{'MADE_IN_TH_FASHION_RR' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_RR_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_RR_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.rougerougebag.com">www.rougerougebag.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_P' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_P_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_P_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.patinyabkk.com">www.patinyabkk.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_S' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_S_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_S_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.sretsis.com">www.sretsis.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_TC' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_TC_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_TC_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.tawn-c.com">www.tawn-c.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_TA' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_TA_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_TA_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.thakoon.com">www.thakoon.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_TG' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_TG_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_TG_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.tube-gallery.com">www.tube-gallery.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_VI' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_VI_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_VI_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.facebook.com/pages/vatit-itthi">www.facebook.com/pages/vatit-itthi</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_FASHION_N' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_N_P1' | translate }}<br/>
                            {{'MADE_IN_TH_FASHION_N_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.naraya.com">www.naraya.com</a>
                    </div>
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (9).jpeg" style="max-width :450px;">
                </div>
                <hr>
            </div>
        </div>
</div>

<div class="jewellery"> 
    <div class="col-md-12 content-width header center" id="jewellery">
        <div class="text-gold-header text-center">
            <span>{{'MADE_IN_TH_JW_H' | translate }}</span>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (4).jpeg" style="max-width :430px;">
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (1).jpeg " style="max-width :430px;"> 
                    <div>
                        {{'MADE_IN_TH_JW_BG' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_BG_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_BG_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.beautygems.com">www.beautygems.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_BR' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_BR_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_BR_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.blueriver-jewelry.com">www.blueriver-jewelry.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_C' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_C_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_C_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.chavanajewelry.com">www.chavanajewelry.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_F' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_F_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_F_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.fadamas.com">www.fadamas.com</a>
                    </div>
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (2).jpeg" style="max-width :430px;">
                    <div>
                        {{'MADE_IN_TH_JW_GP' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_GP_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_GP_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.gemspavilion.com">www.gemspavilion.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_MA' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_MA_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_MA_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.matinaamanita.com">www.matinaamanita.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_JW_S' | translate }}
                        <p>
                            {{'MADE_IN_TH_JW_S_P1' | translate }}<br/>
                            {{'MADE_IN_TH_JW_S_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.sette-peccati.com">www.sette-peccati.com</a>
                </div>
            </div>
            <hr>
        </div>
</div>


<div class="spa-products"> 
    <div class="col-md-12 content-width header center" id="spa.products">
        <div class="text-gold-header text-center">
            <span>{{'MADE_IN_TH_SP_H' | translate }}</span>
        </div>
    </div>

        <div class="row">
           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (8).jpeg" style="max-width :450px;">
                </div>
                <div class="col-md-4"> 
                    <div>
                        {{'MADE_IN_TH_SP_D' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_D_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_D_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.divanaspa.com">www.divanaspa.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_SP_HN' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_H_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_H_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.harnn.com">www.harnn.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_SP_O' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_O_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_O_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.organikahouse.com">www.organikahouse.com</a>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div>
                        {{'MADE_IN_TH_SP_P' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_P_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_P_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.panpuri.com">www.panpuri.com</a>
                    </div> 
                    <div>
                        {{'MADE_IN_TH_SP_T' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_T_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_T_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.thann.info">www.thann.info</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_SP_V' | translate }}
                        <p>
                            {{'MADE_IN_TH_SP_V_P1' | translate }}<br/>
                            {{'MADE_IN_TH_SP_V_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.vuudh.com">www.vuudh.com</a>
                    </div>
                </div>
                <hr>
            </div>
</div>


<div class="decor.interior.design"> 
    <div class="col-md-12 content-width header center" id="decor.interior.design">
        <div class="text-gold-header text-center">
            <span>{{'MADE_IN_TH_DI_H' | translate }}</span>
        </div>
    </div>

        <div class="row">
           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-4"> 
                    <div>
                        {{'MADE_IN_TH_DI_D' | translate }}
                        <p>
                            {{'MADE_IN_TH_FASHION_BOYY_P1' | translate }}<br/>
                            {{'MADE_IN_TH_DI_D_P1' | translate }}
                        </p>
                        <a target="_blank" href="http://www.deesawat.com">www.deesawat.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_DI_K' | translate }}
                        <p>
                            {{'MADE_IN_TH_DI_K_P1' | translate }}<br/>
                            {{'MADE_IN_TH_DI_K_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.korakot.net">www.korakot.net</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_DI_LA' | translate }}
                        <p>
                            {{'MADE_IN_TH_DI_LA_P1' | translate }}<br/>
                            {{'MADE_IN_TH_DI_LA_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.lotusartsdevivre.com">www.lotusartsdevivre.com</a>
                    </div>
                </div>
                <div class="col-md-4"> 
                    <div>
                        {{'MADE_IN_TH_DI_PC' | translate }}
                        <p>
                            {{'MADE_IN_TH_DI_PC_P1' | translate }}<br/>
                            {{'MADE_IN_TH_DI_PC_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.prempracha.com">www.prempracha.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_DI_Y' | translate }}
                        <p>
                            {{'MADE_IN_TH_DI_Y_P1' | translate }}<br/>
                            {{'MADE_IN_TH_DI_Y_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.yothaka.com">www.yothaka.com</a>
                    </div>
                    <div>
                        {{'MADE_IN_TH_DI_AL' | translate }}
                        <p>
                            {{'MADE_IN_TH_DI_AL_P1' | translate }}<br/>
                            {{'MADE_IN_TH_DI_AL_P2' | translate }}
                        </p>
                        <a target="_blank" href="http://www.alexanderlamont.com">www.alexanderlamont.com</a>
                    </div>
                </div>
                <div class="col-md-4 img-col"> 
                    <img src="images/madeinth/image (7).jpeg" style="max-width :450px;">
                </div>
                <hr>
            </div>
        </div>
</div>

<div class="col-md-12 content-article">
    <div class="col-md-12 content-width header center" id="bespoke.tailoring">
        <div class="text-gold-header text-center">
            <span>{{'MADE_IN_TH_BT_H' | translate }} </span>
        </div>
    </div>
    <div class="row content-indentation">
        <div class="col-md-6">
            <img src="images/madeinth/image (6).jpeg" class="img-text">       
        </div>
        <div class="col-md-6">
            <p> {{'MADE_IN_TH_BT_P1' | translate }}  </p>   
            <p> {{'MADE_IN_TH_BT_P2' | translate }}  </p>
            <p> {{'MADE_IN_TH_BT_P3_1' | translate }} 
                <a target="_blank" href="http://www.tailoronten.com">(www.tailoronten.com)</a> 
                {{'MADE_IN_TH_BT_P3_2' | translate }}  </p>
            <p> {{'MADE_IN_TH_BT_P4_1' | translate }} 
                <a target="_blank" href="http://www.thebuttonup.com">(www.tailoronten.com)</a> 
             {{'MADE_IN_TH_BT_P4_2' | translate }} </p>
            <p> {{'MADE_IN_TH_BT_P5_1' | translate }} 
                <a target="_blank" href="http://www.facebook.com/von.sugunnasil">(www.facebook.com/von.sugunnasil)</a>
             {{'MADE_IN_TH_BT_P5_2' | translate }}   </p>
            <p> {{'MADE_IN_TH_BT_P6_1' | translate }} 
                <a target="_blank" href="http://www.facebook.com/charlespatnettbkk">(www.facebook.com/charlespatnettbkk)</a> 
            {{'MADE_IN_TH_BT_P6_2' | translate }} </p>
        </div>
    </div>
        <hr>
</div>



<div class="spa-products"> 
    <div class="col-md-12 content-width header center" id="luxury.shopping.guide">
        <div class="text-gold-header text-center">
            <span>{{'MADE_IN_TH_AZ_H' | translate }}</span>
        </div>
    </div>
        <div class="row">           
            <div class="col-md-12 list">
                <hr>
                <div class="col-md-3"> 
                    <div>
                        {{'MADE_IN_TH_AZ_AC_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_A_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_A_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_A_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_A_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_A_P5' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_A_P6' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_B_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P5' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P6' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P7' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_B_P8' | translate }}<br/>
                        </p>
                         <p>
                            {{'MADE_IN_TH_AZ_C_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P5' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P6' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P7' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_C_P8' | translate }}<br/>
                        </p>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div>
                        {{'MADE_IN_TH_AZ_DF_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_D_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_D_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_D_P3' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_E_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_E_P2' | translate }}<br/>
                        </p>
                         <p>
                            {{'MADE_IN_TH_AZ_F_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_F_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_F_P3' | translate }}<br/>
                        </p>
                    </div>
                    <div>
                        {{'MADE_IN_TH_AZ_GI_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_G_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_G_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_G_P3' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_H_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_H_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_H_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_H_P4' | translate }}<br/>
                        </p>
                         <p>
                            {{'MADE_IN_TH_AZ_I_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_I_P2' | translate }}<br/>
                        </p>
                    </div>
                </div>
                <div class="col-md-3"> 
                    <div>
                        {{'MADE_IN_TH_AZ_JL_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_J_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_J_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_J_P3' | translate }}<br/> 
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_K_P1' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_L_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_L_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_L_P3' | translate }}<br/> 
                            {{'MADE_IN_TH_AZ_L_P4' | translate }}<br/> 
                        </p>
                    </div>
                     <div>
                        {{'MADE_IN_TH_AZ_MO_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_M_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P5' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P6' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P7' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P8' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_M_P9' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_N_P1' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_O_P1' | translate }}<br/>
                        </p>
                    </div>
                </div>
                <div class="col-md-3"> 
                     <div>
                        {{'MADE_IN_TH_AZ_PR_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_P_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P5' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P6' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P7' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_P_P8' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_R_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_R_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_R_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_R_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_R_P5' | translate }}<br/>
                        </p>
                    </div>
                     <div>
                        {{'MADE_IN_TH_AZ_SU_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_S_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_S_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_S_P3' | translate }}<br/>
                        </p>
                        <p>
                            {{'MADE_IN_TH_AZ_T_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_T_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_T_P3' | translate }}<br/>
                        </p>
                         <p>
                            {{'MADE_IN_TH_AZ_U_P1' | translate }}<br/>
                        </p>
                    </div>
                     <div>
                        {{'MADE_IN_TH_AZ_VZ_H' | translate }}
                        <p>
                            {{'MADE_IN_TH_AZ_V_P1' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_V_P2' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_V_P3' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_V_P4' | translate }}<br/>
                            {{'MADE_IN_TH_AZ_V_P5' | translate }}<br/>
                        </p>
                    </div>
                </div>
           
            </div>
        </div>
        <div class="row">           
            <div class="col-md-offset-2 col-md-12 list">
                <img src="images/madeinth/image (5).jpeg" style="max-width:600px">
                <hr>
            </div>
        </div>
</div>
