<link href="css/views/home.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax" ></div>
</div>
<div class="col-md-12 content-width parent intro">
      <div class="content-text child">
        <div class="text-gold-header text-center">
            <span>Introduction</span>
        </div>
        <div>
            <p>What is luxury? Is it a barefoot stroll across a reclaimed wood veranda to a private cove? A hot-air-balloon ride at sunrise to panoramic views of rolling vineyards? Or an exquisite Vintage Cuvée Champagne, paired with a beautifully executed progression of dinner courses? Perhaps a private jet to the most discreet of destination resorts? It is all these things, and yet luxury is also personal, inimitably so. It is the courage to turn from the usual to the unusual, from the conventional to the rarefied. With this in mind, explore the superlatives of Thailand’s luxury offerings, where private beaches, hot-air-balloons, Champagne and helicopter experiences (and much, much more) are not simply offered, but served to the utmost perfection, forever surpassing expectations.
            </p>
        </div>
      </div>
</div>

<div class="col-md-12 content-width col-one">
    <div class="header-parallax bangkok">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>Bangkok City of Angels</span>
        </div>
        <div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Energising, charismatic and often as complex as ornate Thai script, Bangkok has as many different personalities as it does options for sumptuous food. 
There’s the hyper modern party animal; a place where days and evening spent in glitzy malls and restaurants graduate to risqué adult entertainment and pulsing nightclubs that keep bodies moving until dawn. 
Meanwhile, a mellower, more spiritual side, characterised by elaborate temples and palaces, canals and arty, alternative culture counterbalance these brasher aspects of the city. 
In Thailand all roads lead to Bangkok. The capital is the nation’s political centre, its spiritual and cultural hub, and a magnet for migrants from all over the country. Thais do a fine job of balancing the spiritual with the earthly. 
The Kingdom is 95 percent Buddhist, and Bangkok is blessed with hundreds of temples from humble pagodas to grand, gold-spired complexes. 
Just as strong as these religious beliefs is the Thai emphasis on sanuk, the idea that life should be fun. Although deadly serious when the occasion demands it, Thais tend to be very playful at work and in their day-to-day dealings
Bangkok is widely known and admired for the contrasts it offers travellers. It is also catering increasingly adeptly to the well-heeled. 
The roads in exclusive areas such as Thonglor and Ekkamai are clogged with the Ferraris and Lamborghinis of the Thai high society as they shuttle between new cutting-edge restaurants and clubs. 
This proliferation of luxury is not confined to the traditional stomping grounds of the Thai elite either. From the commercial districts of Silom and Sukhumvit Road to the old city and the banks of the Chao Phraya River, luxury hotels, gastro-bars and other upscale haunts such as whisky and cigar bars and designer barbers are springing up with the regularity of a ticking metronome.
From ultra-accomplished ventures by some of the world’s top chains to unique – and in many cases intricate – boutique boltholes, Bangkok’s selection of luxury hotels is one of Asia’s healthiest. Many of the big names are congregated in the commercial hubs of Sukhumvit and Silom. These areas are ideal for their proximity to the thick of the action, but many visitors prefer to be located near the Chao Phraya River for a more relaxed stay. 
Although it remains (justifiably) most famous for its mind-blowing street food culture – something that unites both the haves and have-nots – Bangkok has emerged as an increasingly prestigious destination for upscale dining. In fact, according to the most recent list of the top 50 restaurants in Asia compiled by San Pellegrino, the continent’s top dining spot is currently Gaggan, where Calcutta-born chef Gaggan Anand flirts with molecular gastronomy to produce acclaimed Indian cuisine. 
Bangkok’s reputation as a nightlife playground is richly deserved. Nevertheless, there’s more refinement and subtlety to the scene than lurid tales of neon-lit fleshpots would have you believe.
Although it was a small trading post as recently as the 15th century, Bangkok has been at the heart of Thailand’s modernisation. The city, therefore, is littered with important landmarks, both regal and spiritual. The iconic sights are mostly concentrated near the Chao Phraya River where you will find the Grand Palace and Dusit Palace as well as famous temples such as Wat Pho, home to the world’s largest reclining Buddha, and Wat Phra Kaew, the most sacred temple in Thailand.
Muay Thai (Thai boxing) may be the country’s national sport, but shopping is undoubtedly Thailand’s national pastime. For variety and value, Bangkok is far and away the best retail experience in Southeast Asia. Sleek megamalls boast high-end designers, international brands and a smattering of breakthrough Thai labels. For local character, meanwhile, Chatuchak Weekend Market and Talat Rot Fai offer thousands of stalls and just as many opportunities to empty your wallet. 
Although famously fast-paced, there’s a gentler, more relaxed side to the city. Leafy neighbourhoods such as Banglamphu and Ari shelter arty cafés and hip music venues while a boat on the Chao Phraya River is a fine vantage point from which to observe the city in all its glory. In fact, few Bangkok experiences are more inspiring than witnessing one of the city’s legendary sunsets from a river boat or from one of the many classy venues that continue to sprout up along the banks of the royal waterway. 
It is hot, frenetic, and sometimes overwhelming, but one thing the Thai capital can never pretend to be is boring.</p>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax northern">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>Northern Thailand Lanna Charms</span>
        </div>
        <div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Energising, charismatic and often as complex as ornate Thai script, Bangkok has as many different personalities as it does options for sumptuous food. 
There’s the hyper modern party animal; a place where days and evening spent in glitzy malls and restaurants graduate to risqué adult entertainment and pulsing nightclubs that keep bodies moving until dawn. 
Meanwhile, a mellower, more spiritual side, characterised by elaborate temples and palaces, canals and arty, alternative culture counterbalance these brasher aspects of the city. 
In Thailand all roads lead to Bangkok. The capital is the nation’s political centre, its spiritual and cultural hub, and a magnet for migrants from all over the country. Thais do a fine job of balancing the spiritual with the earthly. 
The Kingdom is 95 percent Buddhist, and Bangkok is blessed with hundreds of temples from humble pagodas to grand, gold-spired complexes. 
Just as strong as these religious beliefs is the Thai emphasis on sanuk, the idea that life should be fun. Although deadly serious when the occasion demands it, Thais tend to be very playful at work and in their day-to-day dealings
Bangkok is widely known and admired for the contrasts it offers travellers. It is also catering increasingly adeptly to the well-heeled. 
The roads in exclusive areas such as Thonglor and Ekkamai are clogged with the Ferraris and Lamborghinis of the Thai high society as they shuttle between new cutting-edge restaurants and clubs. 
This proliferation of luxury is not confined to the traditional stomping grounds of the Thai elite either. From the commercial districts of Silom and Sukhumvit Road to the old city and the banks of the Chao Phraya River, luxury hotels, gastro-bars and other upscale haunts such as whisky and cigar bars and designer barbers are springing up with the regularity of a ticking metronome.
From ultra-accomplished ventures by some of the world’s top chains to unique – and in many cases intricate – boutique boltholes, Bangkok’s selection of luxury hotels is one of Asia’s healthiest. Many of the big names are congregated in the commercial hubs of Sukhumvit and Silom. These areas are ideal for their proximity to the thick of the action, but many visitors prefer to be located near the Chao Phraya River for a more relaxed stay. 
Although it remains (justifiably) most famous for its mind-blowing street food culture – something that unites both the haves and have-nots – Bangkok has emerged as an increasingly prestigious destination for upscale dining. In fact, according to the most recent list of the top 50 restaurants in Asia compiled by San Pellegrino, the continent’s top dining spot is currently Gaggan, where Calcutta-born chef Gaggan Anand flirts with molecular gastronomy to produce acclaimed Indian cuisine. 
Bangkok’s reputation as a nightlife playground is richly deserved. Nevertheless, there’s more refinement and subtlety to the scene than lurid tales of neon-lit fleshpots would have you believe.
Although it was a small trading post as recently as the 15th century, Bangkok has been at the heart of Thailand’s modernisation. The city, therefore, is littered with important landmarks, both regal and spiritual. The iconic sights are mostly concentrated near the Chao Phraya River where you will find the Grand Palace and Dusit Palace as well as famous temples such as Wat Pho, home to the world’s largest reclining Buddha, and Wat Phra Kaew, the most sacred temple in Thailand.
Muay Thai (Thai boxing) may be the country’s national sport, but shopping is undoubtedly Thailand’s national pastime. For variety and value, Bangkok is far and away the best retail experience in Southeast Asia. Sleek megamalls boast high-end designers, international brands and a smattering of breakthrough Thai labels. For local character, meanwhile, Chatuchak Weekend Market and Talat Rot Fai offer thousands of stalls and just as many opportunities to empty your wallet. 
Although famously fast-paced, there’s a gentler, more relaxed side to the city. Leafy neighbourhoods such as Banglamphu and Ari shelter arty cafés and hip music venues while a boat on the Chao Phraya River is a fine vantage point from which to observe the city in all its glory. In fact, few Bangkok experiences are more inspiring than witnessing one of the city’s legendary sunsets from a river boat or from one of the many classy venues that continue to sprout up along the banks of the royal waterway. 
It is hot, frenetic, and sometimes overwhelming, but one thing the Thai capital can never pretend to be is boring.</p>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax phuket">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>Phuket The Pearl of the Andaman</span>
        </div>
        <div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Energising, charismatic and often as complex as ornate Thai script, Bangkok has as many different personalities as it does options for sumptuous food. 
There’s the hyper modern party animal; a place where days and evening spent in glitzy malls and restaurants graduate to risqué adult entertainment and pulsing nightclubs that keep bodies moving until dawn. 
Meanwhile, a mellower, more spiritual side, characterised by elaborate temples and palaces, canals and arty, alternative culture counterbalance these brasher aspects of the city. 
In Thailand all roads lead to Bangkok. The capital is the nation’s political centre, its spiritual and cultural hub, and a magnet for migrants from all over the country. Thais do a fine job of balancing the spiritual with the earthly. 
The Kingdom is 95 percent Buddhist, and Bangkok is blessed with hundreds of temples from humble pagodas to grand, gold-spired complexes. 
Just as strong as these religious beliefs is the Thai emphasis on sanuk, the idea that life should be fun. Although deadly serious when the occasion demands it, Thais tend to be very playful at work and in their day-to-day dealings
Bangkok is widely known and admired for the contrasts it offers travellers. It is also catering increasingly adeptly to the well-heeled. 
The roads in exclusive areas such as Thonglor and Ekkamai are clogged with the Ferraris and Lamborghinis of the Thai high society as they shuttle between new cutting-edge restaurants and clubs. 
This proliferation of luxury is not confined to the traditional stomping grounds of the Thai elite either. From the commercial districts of Silom and Sukhumvit Road to the old city and the banks of the Chao Phraya River, luxury hotels, gastro-bars and other upscale haunts such as whisky and cigar bars and designer barbers are springing up with the regularity of a ticking metronome.
From ultra-accomplished ventures by some of the world’s top chains to unique – and in many cases intricate – boutique boltholes, Bangkok’s selection of luxury hotels is one of Asia’s healthiest. Many of the big names are congregated in the commercial hubs of Sukhumvit and Silom. These areas are ideal for their proximity to the thick of the action, but many visitors prefer to be located near the Chao Phraya River for a more relaxed stay. 
Although it remains (justifiably) most famous for its mind-blowing street food culture – something that unites both the haves and have-nots – Bangkok has emerged as an increasingly prestigious destination for upscale dining. In fact, according to the most recent list of the top 50 restaurants in Asia compiled by San Pellegrino, the continent’s top dining spot is currently Gaggan, where Calcutta-born chef Gaggan Anand flirts with molecular gastronomy to produce acclaimed Indian cuisine. 
Bangkok’s reputation as a nightlife playground is richly deserved. Nevertheless, there’s more refinement and subtlety to the scene than lurid tales of neon-lit fleshpots would have you believe.
Although it was a small trading post as recently as the 15th century, Bangkok has been at the heart of Thailand’s modernisation. The city, therefore, is littered with important landmarks, both regal and spiritual. The iconic sights are mostly concentrated near the Chao Phraya River where you will find the Grand Palace and Dusit Palace as well as famous temples such as Wat Pho, home to the world’s largest reclining Buddha, and Wat Phra Kaew, the most sacred temple in Thailand.
Muay Thai (Thai boxing) may be the country’s national sport, but shopping is undoubtedly Thailand’s national pastime. For variety and value, Bangkok is far and away the best retail experience in Southeast Asia. Sleek megamalls boast high-end designers, international brands and a smattering of breakthrough Thai labels. For local character, meanwhile, Chatuchak Weekend Market and Talat Rot Fai offer thousands of stalls and just as many opportunities to empty your wallet. 
Although famously fast-paced, there’s a gentler, more relaxed side to the city. Leafy neighbourhoods such as Banglamphu and Ari shelter arty cafés and hip music venues while a boat on the Chao Phraya River is a fine vantage point from which to observe the city in all its glory. In fact, few Bangkok experiences are more inspiring than witnessing one of the city’s legendary sunsets from a river boat or from one of the many classy venues that continue to sprout up along the banks of the royal waterway. 
It is hot, frenetic, and sometimes overwhelming, but one thing the Thai capital can never pretend to be is boring.</p>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax samui">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>Koh Samui & Krabi Welcome to Paradise</span>
        </div>
        <div>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Energising, charismatic and often as complex as ornate Thai script, Bangkok has as many different personalities as it does options for sumptuous food. 
There’s the hyper modern party animal; a place where days and evening spent in glitzy malls and restaurants graduate to risqué adult entertainment and pulsing nightclubs that keep bodies moving until dawn. 
Meanwhile, a mellower, more spiritual side, characterised by elaborate temples and palaces, canals and arty, alternative culture counterbalance these brasher aspects of the city. 
In Thailand all roads lead to Bangkok. The capital is the nation’s political centre, its spiritual and cultural hub, and a magnet for migrants from all over the country. Thais do a fine job of balancing the spiritual with the earthly. 
The Kingdom is 95 percent Buddhist, and Bangkok is blessed with hundreds of temples from humble pagodas to grand, gold-spired complexes. 
Just as strong as these religious beliefs is the Thai emphasis on sanuk, the idea that life should be fun. Although deadly serious when the occasion demands it, Thais tend to be very playful at work and in their day-to-day dealings
Bangkok is widely known and admired for the contrasts it offers travellers. It is also catering increasingly adeptly to the well-heeled. 
The roads in exclusive areas such as Thonglor and Ekkamai are clogged with the Ferraris and Lamborghinis of the Thai high society as they shuttle between new cutting-edge restaurants and clubs. 
This proliferation of luxury is not confined to the traditional stomping grounds of the Thai elite either. From the commercial districts of Silom and Sukhumvit Road to the old city and the banks of the Chao Phraya River, luxury hotels, gastro-bars and other upscale haunts such as whisky and cigar bars and designer barbers are springing up with the regularity of a ticking metronome.
From ultra-accomplished ventures by some of the world’s top chains to unique – and in many cases intricate – boutique boltholes, Bangkok’s selection of luxury hotels is one of Asia’s healthiest. Many of the big names are congregated in the commercial hubs of Sukhumvit and Silom. These areas are ideal for their proximity to the thick of the action, but many visitors prefer to be located near the Chao Phraya River for a more relaxed stay. 
Although it remains (justifiably) most famous for its mind-blowing street food culture – something that unites both the haves and have-nots – Bangkok has emerged as an increasingly prestigious destination for upscale dining. In fact, according to the most recent list of the top 50 restaurants in Asia compiled by San Pellegrino, the continent’s top dining spot is currently Gaggan, where Calcutta-born chef Gaggan Anand flirts with molecular gastronomy to produce acclaimed Indian cuisine. 
Bangkok’s reputation as a nightlife playground is richly deserved. Nevertheless, there’s more refinement and subtlety to the scene than lurid tales of neon-lit fleshpots would have you believe.
Although it was a small trading post as recently as the 15th century, Bangkok has been at the heart of Thailand’s modernisation. The city, therefore, is littered with important landmarks, both regal and spiritual. The iconic sights are mostly concentrated near the Chao Phraya River where you will find the Grand Palace and Dusit Palace as well as famous temples such as Wat Pho, home to the world’s largest reclining Buddha, and Wat Phra Kaew, the most sacred temple in Thailand.
Muay Thai (Thai boxing) may be the country’s national sport, but shopping is undoubtedly Thailand’s national pastime. For variety and value, Bangkok is far and away the best retail experience in Southeast Asia. Sleek megamalls boast high-end designers, international brands and a smattering of breakthrough Thai labels. For local character, meanwhile, Chatuchak Weekend Market and Talat Rot Fai offer thousands of stalls and just as many opportunities to empty your wallet. 
Although famously fast-paced, there’s a gentler, more relaxed side to the city. Leafy neighbourhoods such as Banglamphu and Ari shelter arty cafés and hip music venues while a boat on the Chao Phraya River is a fine vantage point from which to observe the city in all its glory. In fact, few Bangkok experiences are more inspiring than witnessing one of the city’s legendary sunsets from a river boat or from one of the many classy venues that continue to sprout up along the banks of the royal waterway. 
It is hot, frenetic, and sometimes overwhelming, but one thing the Thai capital can never pretend to be is boring.</p>
        </div>
      </div>
</div>