<link href="css/views/home.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax" ></div>
</div>
<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'INTRO_H' | translate }}</span>
        </div>
        <div class="content-indentation row">
            <div class="col-md-12">
            <p>{{ 'INTRO_P1' | translate }}</p><br> 
            <p>{{ 'INTRO_P2' | translate }}</p><br>
            <p>{{ 'INTRO_P3' | translate }}</p>
            </div>
        </div>
      </div>
</div>

<div class="col-md-12 content-width col-one">
    <div class="header-parallax bangkok">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'HOME_BANGKOK_H' | translate }}</span>
        </div>
        <div class="content-indentation row">
            <div class="col-md-4">
            <p>{{ 'HOME_BANGKOK_D1_P1' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P2' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P3' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P4' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P5' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P6' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P7' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P8' | translate }}</p>
</div>
<div class="col-md-4">
    <p>{{ 'HOME_BANGKOK_D2_P1' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D2_P2' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D2_P3' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D2_P4' | translate }}</p>
</div>
<div class="col-md-4">
    <p>{{ 'HOME_BANGKOK_D3_P1' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D3_P2' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D3_P3' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D3_P4' | translate }}</p>
        </div>
        </div>
      </div>
</div>

<!--
<div class="col-md-12 content-width col-one">
    <div class="header-parallax northern">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'HOME_NORTHERN_H' | translate }}</span>
        </div>
    <div class="content-indentation row">
    <div class="col-md-4"> 
        <p>{{ 'HOME_NORTHERN_D1_P1' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D1_P2' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D1_P3' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D1_P4' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D1_P5' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D1_P6' | translate }}</p>
        </div>
    <div class="col-md-4">
        <p>{{ 'HOME_NORTHERN_D2_P1' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D2_P2' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D2_P3' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D2_P4' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D2_P5' | translate }}</p>
    </div>
    <div class="col-md-4">
        <p>{{ 'HOME_NORTHERN_D3_P1' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D3_P2' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D3_P3' | translate }}</p>
        <p>{{ 'HOME_NORTHERN_D3_P4' | translate }}</p>
        </div>
        </div>
      </div>
</div>
-->
    <div class="col-md-12 content-article">
        <div class="row content-indentation">
            <div class="col-md-12 northern"> 
                <img src="images/home/19424289_xl.jpg" class="img-text">       
            </div>
            <div class="col-md-12 content-width">
                <div class="content-text-body">
                    <div class="text-gold-header text-center">
                        <span>{{ 'HOME_NORTHERN_H' | translate }}</span>
                    </div>
                    <div class="content-indentation row">
                        <div class="col-md-4"> 
                            <p>{{ 'HOME_NORTHERN_D1_P1' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D1_P2' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D1_P3' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D1_P4' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D1_P5' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D1_P6' | translate }}</p>
                            </div>
                        <div class="col-md-4">
                            <p>{{ 'HOME_NORTHERN_D2_P1' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D2_P2' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D2_P3' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D2_P4' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D2_P5' | translate }}</p>
                        </div>
                        <div class="col-md-4">
                            <p>{{ 'HOME_NORTHERN_D3_P1' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D3_P2' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D3_P3' | translate }}</p>
                            <p>{{ 'HOME_NORTHERN_D3_P4' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="col-md-12 content-width col-one">
    <div class="header-parallax phuket">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span> <p>{{ 'HOME_PHUKET_H' | translate }}</p></span>
        </div>
           <div class="content-indentation row">
            <div class="col-md-4">
                <p>{{ 'HOME_PHUKET_D1_P1' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P2' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P3' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P4' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P5' | translate }}</p>
        </div>
        <div class="col-md-4">
                <p>{{ 'HOME_PHUKET_D2_P1' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P2' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P3' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P4' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P5' | translate }}</p>
        </div>
        <div class="col-md-4">
                <p>{{ 'HOME_PHUKET_D3_P1' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D3_P2' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D3_P3' | translate }}</p>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax samui">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'HOME_SAMUI_H' | translate }}</span>
        </div>
          <div class="content-indentation row">
            <div class="col-md-4">
                <p>{{ 'HOME_SAMUI_D1_P1' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D1_P2' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D1_P3' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D1_P4' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D1_P5' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D1_P6' | translate }}</p>
            </div>
            <div class="col-md-4">
                <p>{{ 'HOME_SAMUI_D2_P1' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D2_P2' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D2_P3' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D2_P4' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D2_P5' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D2_P6' | translate }}</p>
            </div>
            <div class="col-md-4">
                <p>{{ 'HOME_SAMUI_D3_P1' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D3_P2' | translate }}</p>
                <p>{{ 'HOME_SAMUI_D3_P3' | translate }}</p>
            </div>
      </div>
</div>