<link href="css/views/home.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax" ></div>
</div>
<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'INTRO_H' | translate }}</span>
        </div>
        <div class="content-indentation row">
            <div class="col-md-12">
            <p>{{ 'INTRO_P1' | translate }}</p><br> 
            <p>{{ 'INTRO_P2' | translate }}</p><br>
            <p>{{ 'INTRO_P3' | translate }}</p>
            </div>
        </div>
      </div>
</div>

<div class="col-md-12 content-width col-one">
    <div class="header-parallax bangkok">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'HOME_BANGKOK_H' | translate }}</span>
        </div>
        <div class="content-indentation row">
            <div class="col-md-4">
            <p>{{ 'HOME_BANGKOK_D1_P1' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P2' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P3' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P4' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P5' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P6' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P7' | translate }}</p>
            <p>{{ 'HOME_BANGKOK_D1_P8' | translate }}</p>
</div>
<div class="col-md-4">
    <p>{{ 'HOME_BANGKOK_D2_P1' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D2_P2' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D2_P3' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D2_P4' | translate }}</p>
</div>
<div class="col-md-4">
    <p>{{ 'HOME_BANGKOK_D3_P1' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D3_P2' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D3_P3' | translate }}</p>
    <p>{{ 'HOME_BANGKOK_D3_P4' | translate }}</p>
        </div>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax northern">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{ 'HOME_NORTHERN_H' | translate }}</span>
        </div>
          <div class="content-indentation row">
            <div class="col-md-4"> 
                <p>{{ 'HOME_NORTHERN_D1_P1' | translate }}</p>
                <p>{{ 'HOME_NORTHERN_D1_P2' | translate }}</p>
                <p>{{ 'HOME_NORTHERN_D1_P3' | translate }}</p>
                <p>{{ 'HOME_NORTHERN_D1_P4' | translate }}</p>
                <p>{{ 'HOME_NORTHERN_D1_P5' | translate }}</p>
                <p>{{ 'HOME_NORTHERN_D1_P6' | translate }}</p>
        </div>
<div class="col-md-4">
    <p>{{ 'HOME_NORTHERN_D2_P1' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D2_P2' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D2_P3' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D2_P4' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D2_P5' | translate }}</p>
</div>
<div class="col-md-4">
    <p>{{ 'HOME_NORTHERN_D3_P1' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D3_P2' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D3_P3' | translate }}</p>
    <p>{{ 'HOME_NORTHERN_D3_P4' | translate }}</p>
        </div>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax phuket">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span> <p>{{ 'HOME_PHUKET_H' | translate }}</p></span>
        </div>
           <div class="content-indentation row">
            <div class="col-md-4">
                <p>{{ 'HOME_PHUKET_D1_P1' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P2' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P3' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P4' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D1_P5' | translate }}</p>
        </div>
        <div class="col-md-4">
                <p>{{ 'HOME_PHUKET_D2_P1' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P2' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P3' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P4' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D2_P5' | translate }}</p>
        </div>
        <div class="col-md-4">
                <p>{{ 'HOME_PHUKET_D3_P1' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D3_P2' | translate }}</p>
                <p>{{ 'HOME_PHUKET_D3_P3' | translate }}</p>
        </div>
      </div>
</div>


<div class="col-md-12 content-width col-one">
    <div class="header-parallax samui">
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>Koh Samui & Krabi Welcome to Paradise</span>
        </div>
          <div class="content-indentation row">
            <div class="col-md-4">
            <p>Few things encapsulate Thailand’s abundance of natural riches better than the country’s paradisiacal coastal enclaves. The Kingdom is uniquely blessed with countless amazing islands, while its extensive coastlines on the Gulf of Thailand and the Andaman Sea are studded with dazzling stretches of sand and buzzing beach towns. 
 </p><p>Two of the shining stars in the Kingdom’s firmament of vacation havens are Koh Samui and Krabi. Both are highly distinctive from one another. Koh Samui luxuriates in its location in the Gulf of Thailand and specialises in upscale hedonism. 
</p><p>Krabi Province, meanwhile, is one of the undoubted highlights of Thailand’s Andaman coastline, encompassing stunning limestone karst scenery, beautiful resorts and sought-after island destinations such as Koh Phi Phi and Koh Lanta.
            </p><p>It wouldn’t be pushing it to call Koh Samui the grande dame of Thailand’s tourism industry, having been in the business longer than almost any other Thai island. Familiarity, however, has not dulled the charms of this perennial crowd pleaser. In fact, the island has matured as a destination and has diversified its products to ensure it stays ahead of the game. 
            </p><p>Foreign visitors started trickling into Samui in the 1960s and for years the island was most popular as a destination for hippy travellers and independent backpackers. In those days, paved roads were non-existent and accommodation and dining on the island were limited to basic wooden beach huts and simple Thai cuisine. 
</p><p>These days, the island is infinitely more high-end. While echoes of the old rustic Samui can be found in the less developed south and west of the island, the emphasis elsewhere is very much on the finer things in life.   </p>
        </div>
<div class="col-md-4">
    <p>
Some of Thailand’s most decadent resorts can be found here. Think gorgeous infinity pools surrounded by giant day beds where guests are waited on hand and foot by immaculately turned out waiting staff and you’d be on the money. Many of these resorts are villa-only, ensuring the ultimate in privacy as well as panoramic views out towards the cystal-clear waters of the ocean. 
 </p><p>In addition to these palatial, yet contemporary comforts, many of the island’s top resorts boast sleek bars and beach clubs where a beautiful crowd can be found soaking up mellow beats in the fresh sea breeze.
</p><p>Another area in which Samui has been excelling in recent times is its dining sector. The island is now a culinary destination in its own right with several world-class restaurants helmed by innovative chefs. Here visitors will find everything from contemporary Thai cuisine to fusion and international flavors. 
</p><p>Enhancing the experience even further is the variety of romantic dining locales. Fancy feasting on succulent fresh seafood with powder soft sand between your toes, or being waited on by a butler at a cliff-top table? Samui is the perfect place for it.
</p><p>Like Samui, Krabi is finding favour with a jet-setting, high-income bracket group from Asia and further afield. Although blessed with similarly stunning stretches of sand and other tropical finery, the landscapes of Krabi Province and its many paradise islands vary significantly from those on Koh Samui. 
</p><p>Its limestone-karst scenery particularly characterises the area, with perpendicular rocky outcrops jutting from the emerald waters of Phang Nga Bay and curving along the coast. 
</p>
</div>
<div class="col-md-4">
    <p>As well as being stunningly attractive, this geological phenomenon has made Krabi Province a particular favorite with adventure sports fanatics. In fact, Railay Beach near Krabi Town is regarded by many experts as the best place for rock-climbing in Asia and has a wide range of routes to suit every skill level. In addition to climbing, the land and seascapes of the area offer scope for everything from caving to kayaking amidst the karsts and through tiny rock channels to hidden lagoons. Diving is also a specialty of the area with colourful marine life lying in wait underneath the waves at dive sites around the province. 
</p><p>Of course, exertion is not for everyone and when the scenery is this good it pays to kick back and just enjoy a slower pace of life. In common with Thailand’s other coastal destinations, Krabi Province is not short on unforgettable places to stay with some of the Kingdom’s best and most exclusive resorts to be found here. Take a boat to a secluded hideaway in its own private bay or revel in the ultimate in barefoot luxury. 
 </p><p>Krabi’s luminous beauty arguably reaches its zenith at Koh Phi Phi. This archipelago of six small islands is renowned globally for its outstanding beaches and fabulous scenery. The blockbuster movie The Beach was filmed on the island of Phi Phi Leh but islands such as Phi Phi Don are just as glamorous with azure waters, craggy cliffs and verdant jungle providing a heart-stoppingly attractive palette for the ultimate beach break.
</p>
        </div>
      </div>
</div>