<link href="css/views/onelife.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax col-md-7 col-sm-12"></div>
    <div class="col-md-5 remove-height">
        <div class="parent content-dining">
            <div class="child">
                <div class="text-gold-header text-center">
                    <span>{{'ONCE_H' | translate }}</span>
                </div>
                <div class="content-indentation row">
                    <div class="col-md-12">
                    <p>{{'ONCE_P1' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
 
</div>

<div class="col-md-offset-1 col-md-10 content-article">
      <hr>
     <div class="row">
            <div class="col-md-4 col-lg-3">
                <img src="images/lifetime/image (10).jpeg">
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'ONCE_HTS_H' | translate }}  </span>
                </div>
                <p> {{'ONCE_HTS_P1' | translate }}  </p>
            </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="text-gold-header2  text-right">
                <span>{{'ONCE_TCT_H' | translate }}</span>
            </div>
            <p>
                {{'ONCE_TCT_P1' | translate }}
            </p>
        </div>
        <div class="col-md-4 col-lg-3">
                <img src="images/lifetime/image (6).jpeg">
        </div>
    </div>
    <hr>
    <div class="row">
            <div class="col-md-4 col-lg-3">
                <img src="images/lifetime/image (11).jpeg">
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'ONCE_BBF_H' | translate }}  </span>
                </div>
                <p> {{'ONCE_BBF_P1' | translate }}  </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'ONCE_ATS_H' | translate }}</span>
                </div>
                <p>
                {{'ONCE_ATS_P1' | translate }}
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                    <img src="images/lifetime/image (14).jpeg">
            </div>
        </div>
        <hr>
            <div class="row">
            <div class="col-md-4 col-lg-3">
                    <img src="images/lifetime/image (5).jpeg">
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'ONCE_PBD_H' | translate }}  </span>
                </div>
                <p> {{'ONCE_PBD_P1' | translate }}  </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'ONCE_KYP_H' | translate }}</span>
                </div>
                <p>
                {{'ONCE_KYP_P1' | translate }}
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                <img src="images/lifetime/image (2).jpeg">
            </div>
        </div>
    </div>
</div>

     <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <img src="images/lifetime/image (12).jpeg">
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'ONCE_SSC_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_SSC_P1' | translate }} 
                    </p>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'ONCE_KYW_H' | translate }} </span>
                </div>
                <p>{{'ONCE_KYW_P1' | translate }} </p>
            </div>
            <div class="col-md-4">
                <img src="images/lifetime/image (7).jpeg">
            </div>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <img src="images/lifetime/image (3).jpeg">
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'ONCE_PYA_H' | translate }} </span>
                    </div>
                    <p>{{'ONCE_PYA_P1' | translate }}
                    </p>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'ONCE_AEF_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_AEF_P1' | translate }}</p>
                    <div class="text-right">
                </div>
            </div>
            <div class="col-md-4">
                <img src="images/lifetime/image (9).jpeg">
            </div>
            </div>
        </div>
        <hr>


        <div class="row">
            <div class="col-md-6">
                <div class="col-md-4">
                    <img src="images/lifetime/image (4).jpeg">
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'ONCE_CPD_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_CPD_P1' | translate }}</p>
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
               <div class="col-md-8">
                <div class="text-gold-header2 text-right">
                    <span>{{'ONCE_HAB_H' | translate }}</span>
                </div>
                <p>{{'ONCE_HAB_P1' | translate }}</p>
            </div>
            <div class="col-md-4">
                <img src="images/lifetime/image (1).jpeg">
            </div>
            </div>
        </div>
     </div>

    <div class="col-lg-offset-1 col-lg-offset-0 col-md-10 col-lg-12 content-article">
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'ONCE_SS_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_SS_P1' | translate }}</p>
                </div>
                <div class="col-md-4">
                        <img src="images/lifetime/image (17).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                        <img src="images/lifetime/image (8).jpeg" alt="Sala Rim Naam">
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'ONCE_HOE_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_HOE_P1' | translate }}</p>
                </div>
            </div>
        </div>
        <hr>
           <div class="row">
            <div class="col-md-6">
                <div class="col-md-8">
                    <div class="text-gold-header2 text-right">
                        <span>{{'ONCE_CSU_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_CSU_P1' | translate }}</p>
                </div>
                <div class="col-md-4">
                    <img src="images/lifetime/image (15).jpeg" alt="Le Grand Lanna (Chiang Mai)">
                </div>
                <hr class="visible-sm visible-xs">
            </div>
             <div class="col-md-6">
                <div class="col-md-4">
                    <img src="images/lifetime/image (13).jpeg" alt="Sala Rim Naam">
                </div>
                <div class="col-md-8">
                    <div class="text-gold-header2">
                        <span>{{'ONCE_LCC_H' | translate }}</span>
                    </div>
                    <p>{{'ONCE_LCC_P1' | translate }}</p>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class="col-md-12 content-article">      
        <div class="col-md-12 content-width header center" id="yachting">
            <div class="text-gold-header text-center">
                <span>{{'ONCE_YACHT_H' | translate }} </span>
            </div>
        </div>
        <div class="row content-indentation">
            <div class="col-md-6">
                <img src="images/lifetime/ferretti881-luxury-yacht.jpeg" class="img-text">       
            </div>
            <div class="col-md-6">
                <p> {{'ONCE_YACHT_P1' | translate }}  </p>   
                <p> {{'ONCE_YACHT_P2' | translate }}  </p>
                <p> {{'ONCE_YACHT_P3' | translate }}  </p>
                <p> {{'ONCE_YACHT_P4' | translate }}  </p>
                <p> {{'ONCE_YACHT_P5' | translate }}  </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 list">
                <div class="col-md-12 text-gold-header2">
                    <span>{{'ONCE_YC_H' | translate }} </span>
                </div>
                <div class="col-md-6"> 
                    <div>
                        {{'ONCE_YC_PY_H' | translate }}
                        <a href="http://www.princessyachtssea.com">www.princessyachtssea.com</a>
                    </div>
                    <div>
                        {{'ONCE_YC_SM_H' | translate }} 
                        <a href="http://www.simpsonmarine.com">www.simpsonmarine.com</a>
                    </div>
                    <div>
                        {{'ONCE_YC_BL_H' | translate }} 
                        <a href="http://www.boatlagoonyachting.co.th">www.boatlagoonyachting.co.th</a>
                    </div>
                    <div>
                        {{'ONCE_YC_AM_H' | translate }} 
                        <a href="http://www.asia-marine.net">www.asia-marine.net</a>
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div>
                        {{'ONCE_YC_SA_H' | translate }} 
                        <a href="http://www.sunsailasia.com">www.sunsailasia.com</a>
                    </div>
                    <div>
                        {{'ONCE_YC_NJ_H' | translate }} 
                        <a href="http://www.yachtcharter-asia.com">www.yachtcharter-asia.com</a>
                    </div>
                    <div>
                        {{'ONCE_YC_SS_H' | translate }} 
                        <a href="http://www.superyacht-charters.com">www.superyacht-charters.com</a>
                    </div>
                    <div>
                        {{'ONCE_YC_AP_H' | translate }} 
                        <a href="http://www.asia-pacific-superyachts.com">www.asia-pacific-superyachts.com</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 list">
                <div class="col-md-12 text-gold-header2">
                    <span>{{'ONCE_YE_H' | translate }} </span>
                </div>
                <div class="col-md-6"> 
                    <div>
                        {{'ONCE_YE_PK_H' | translate }}
                        <a href="http://www.kingscup.com">www.kingscup.com</a>
                    </div>
                    <div>
                        {{'ONCE_YE_OM_H' | translate }} 
                        <a href="http://www.oceanmarinapattayaboatshow.com">www.oceanmarinapattayaboatshow.com</a>
                    </div>
                    <div>
                        {{'ONCE_YE_AS_H' | translate }} 
                        <a href="http://www.asia-superyacht-rendezvous.com">www.asia-superyacht-rendezvous.com</a>
                    </div>
                    <div>
                        {{'ONCE_YE_PI_H' | translate }} 
                        <a href="http://www.phuketboatshow.com">www.phuketboatshow.com</a>
                    </div>
                </div>
                <div class="col-md-6"> 
                    <div>
                        {{'ONCE_YE_PY_H' | translate }} 
                        <a href="http://www.phuketyachtshow.com">www.phuketyachtshow.com</a>
                    </div>
                    <div>
                        {{'ONCE_YE_TG_H' | translate }} 
                        <a href="http://www.topofthegulfregatta.com">www.topofthegulfregatta.com</a>
                    </div>
                    <div>
                        {{'ONCE_YE_TB_H' | translate }} 
                        <a href="http://www.bayregatta.com">www.bayregatta.com</a>
                    </div>
                    <div>
                        {{'ONCE_YE_PR_H' | translate }} 
                        <a href="http://www.phuketraceweek.com">www.phuketraceweek.com</a>
                    </div>
                </div>
            </div>
        </div>
         <hr>
    </div>

    <div class="col-md-12 content-article">
        <div class="col-md-12 content-width header center" id="goffing">
            <div class="text-gold-header text-center">
                <span>{{'ONCE_GOLFING_H' | translate }} </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="content-indentation">
                    <p> {{'ONCE_GOLFING_P1' | translate }}  </p>
                </div>
                 <div class="col-md-12 list">
                    <div class="col-md-6"> 
                        <div>
                            {{'ONCE_GOLFING_AS_H' | translate }}
                            <p>{{'ONCE_GOLFING_AS_P1' | translate }}</p>
                            <a href="http://www.amataspring.co.th">www.amataspring.co.th</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_AL_H' | translate }} 
                             <p>{{'ONCE_GOLFING_AL_P1' | translate }}</p>
                            <a href="http://www.ayodhyalinks.co.th">www.ayodhyalinks.co.th</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_AG_H' | translate }} 
                             <p>{{'ONCE_GOLFING_AG_P1' | translate }}</p>
                            <a href="http://www.alpinegolfclub.com">www.alpinegolfclub.com</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_SCC_H' | translate }} 
                             <p>{{'ONCE_GOLFING_SCC_P1' | translate }}</p>
                            <a href="http://www.siamcountryclub.com">www.siamcountryclub.com</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_BH_H' | translate }} 
                             <p>{{'ONCE_GOLFING_BH_P1' | translate }}</p>
                            <a href="http://www.banyanthailand.com">www.banyanthailand.com</a>
                        </div>
                    </div>
                    <div class="col-md-6"> 
                        <div>
                            {{'ONCE_GOLFING_RM_H' | translate }} 
                             <p>{{'ONCE_GOLFING_RM_P1' | translate }}</p>
                            <a href="http://www.riverdalegolfclub.co.th/redmountain">www.riverdalegolfclub.co.th/redmountain</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_BM_H' | translate }} 
                             <p>{{'ONCE_GOLFING_BM_P1' | translate }}</p>
                            <a href="http://www.blackmountainhuahin.com">www.blackmountainhuahin.com</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_BC_H' | translate }} 
                             <p>{{'ONCE_GOLFING_BC_P1' | translate }}</p>
                            <a href="http://www.bluecanyonclub.com/golf">www.bluecanyonclub.com/golf</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_TC_H' | translate }}
                             <p>{{'ONCE_GOLFING_TC_P1' | translate }}</p>
                            <a href="http://www.thaicountryclub.com">www.thaicountryclub.com</a>
                        </div>
                        <div>
                            {{'ONCE_GOLFING_SC_H' | translate }} 
                             <p>{{'ONCE_GOLFING_SC_P1' | translate }}</p>
                            <a href="http://www.santiburi.com">www.santiburi.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/lifetime/33195613_xl.jpeg" class="img-text">       
            </div>
        </div>
    </div>
</div>
   
