<link href="css/views/medical.tourism.css" rel="stylesheet">


<div class="col-md-12 content-article">
    <div class="col-md-12 content-width header">
    <a class="anchor" id="goffing">a</a>
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'MEDECAL_H' | translate }}</span>
                 <p> {{'MEDECAL_P1' | translate }}  </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">  
            <div class="content-indentation">
                <p> {{'MEDECAL_P2' | translate }}  </p>
                <p> {{'MEDECAL_P3' | translate }}  </p>
                <p> {{'MEDECAL_P4' | translate }}  </p>
                <p> {{'MEDECAL_P5' | translate }}  </p>
                <p> {{'MEDECAL_P6' | translate }}  </p>
            </div>
        </div>
        <div class="col-md-6">  
            <div class="content-indentation">
                <p> {{'MEDECAL_P7' | translate }}  </p>
                <p> {{'MEDECAL_P8' | translate }}  </p>
                <p> {{'MEDECAL_P9' | translate }}  </p>
                <p> {{'MEDECAL_P10' | translate }}  </p>
                <p> {{'MEDECAL_P11' | translate }}  </p>
            </div>     
        </div>
        <div class="col-md-6">
            <div class="content-indentation">
    
            </div>
        </div>

    </div>
</div>


<div class="col-md-12 content-article">
    <div class="col-md-12 content-width header">
    <a class="anchor" id="goffing">a</a>
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'MEDECAL_MT_BIH_H' | translate }} </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="content-indentation">
                <p> {{'MEDECAL_MT_BIH_P1' | translate }}  </p>
                <p> {{'MEDECAL_MT_BIH_P2' | translate }}  </p>
                <p> {{'MEDECAL_MT_BIH_P3' | translate }}  </p>
                <p> {{'MEDECAL_MT_BIH_P4' | translate }}  </p>
            </div>
        </div>
        <div class="col-md-6">
            <img src="images/medical_tourism/image (3).jpeg" class="img-text">       
        </div>
    </div>
</div>


<div class="col-md-12 content-article">
    <div class="col-md-12 content-width header">
    <a class="anchor" id="goffing">a</a>
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'MEDECAL_MT_BDMS_H' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="images/medical_tourism/image (2).jpeg" class="img-text">  
            <div class="content-indentation">
                <p> {{'MEDECAL_MT_BDMS_P1' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P2' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P3' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P4' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P5' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P6' | translate }}  </p>
            </div>     
        </div>
        <div class="col-md-6">
            <div class="content-indentation">
                <p> {{'MEDECAL_MT_BDMS_P7' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P8' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P9' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P10' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P11' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P12' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P13' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P14' | translate }}  </p>
                <p> {{'MEDECAL_MT_BDMS_P15' | translate }}  </p>
            </div>
            <div class="hospital-link">
                <a href="http://www.bdms.co.th" target="blank">BDMS Group : www.bdms.co.th</a>
                <a href="http://www.bnhhospital.com" target="blank">BNH : www.bnhhospital.com</a>
                <a href="http://www.samitivejhospitals.com" target="blank">Samitivej : www.samitivejhospitals.com</a>
                <a href="http://www.bangkokhospital.com" target="blank">Bangkok Hospital : www.bangkokhospital.com</a>
                <a href="http://www.phyathai2hospital.com" target="blank">Phyathai 2 : www.phyathai2hospital.com</a>
            </div>
        </div>

    </div>
</div>
