<link href="css/views/hotel.resort.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax parent">
 
    </div>
</div>

<div class="col-md-12 content-width">
      <div class="content-text-body">
        <div class="text-gold-header text-center">
            <span>{{'HOTEL_H' | translate }}</span>
        </div>
        <div class="content-indentation row">
            <div class="col-md-12">
            <p>{{'HOTEL_P1' | translate }}</p><br> 
            </div>
        </div>
      </div>
</div>

<div class="col-md-12 content-width col-one hidden-xs hidden-sm">
    <div class="header-parallax sm">
    </div>
</div>
<div class="northern"> 
      <hr class="gold-hr visible-xs-block visible-sm-block">
    <div class="col-md-12 content-width header" id="northern">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'HOTEL_NORTHERN_H' | translate }}</span>
            </div>
        </div>
    </div>
     <div class="col-md-offset-1 col-md-10 content-article">
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="www.fourseasons.com/goldentriangle" target="_blank">
                    <img src="images/hotel_resort/FPO_CHR_008.jpeg" alt="Four Seasons Tented Camp Chiang Rai">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_NORTHERN_FSR_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_NORTHERN_FSR_P1' | translate }}
                </p>
                <a href="www.fourseasons.com/goldentriangle" target="_blank">www.fourseasons.com/goldentriangle</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_NORTHERN_DC_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_NORTHERN_DC_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.dharadhevi.com" target="_blank">www.dharadhevi.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.dharadhevi.com" target="_blank">
                    <img src="images/hotel_resort/Dhara Dhevi Chiang Mai (Royal Residence).jpeg" alt="Dhara Dhevi Chiang Mai">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.fourseasons.com/chiangmai" target="_blank">
                    <img src="images/hotel_resort/Four Seasons Resort Chiang Mai.jpeg" alt="Four Seasons Resort Chiang Mai">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_NORTHERN_FSM_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_NORTHERN_FSM_P1' | translate }}
                </p>
                <a href="http://www.fourseasons.com/chiangmai" target="_blank">www.fourseasons.com/chiangmai</a>
            </div>
        </div>
         <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_NORTHERN_137_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_NORTHERN_137_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.slh.com/hotels/137-pillars-house" target="_blank">www.slh.com/hotels/137-pillars-house</a>
                </div>
            </div>
             <div class="col-md-4 col-lg-3">
                <a href="http://www.fourseasons.com/goldentriangle" target="_blank">
                    <img src="images/hotel_resort/52728331-H1-Palette_(2).jpeg" alt="137 Pillars House, Chiang Mai">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="www.slh.com/hotels/137-pillars-house" target="_blank">
                    <img src="images/hotel_resort/Rachamankha.jpeg" alt="Rachamankha, Chiang Mai">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_NORTHERN_RCM_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_NORTHERN_RCM_P1' | translate }}</p>
                <div>
                    <a href="http://www.rachamankha.com" target="_blank">www.rachamankha.com</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_NORTHERN_ACM_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_NORTHERN_ACM_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.chiang-mai.anantara.com" target="_blank">www.chiang-mai.anantara.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.chiang-mai.anantara.com" target="_blank">
                    <img src="images/hotel_resort/Anantara Chiang Mai Colonial House.jpeg" alt="137 Pillars House, Chiang Mai">
                </a>
            </div>
        </div>
        <hr>
     </div>
</div>


<div class="central"> 
    <div class="col-md-12 content-width header" id="central">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'HOTEL_CENTER_H' | translate }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-10 content-article">
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.thesiamhotel.com" target="_blank">
                    <img src="images/hotel_resort/Siam Suite Bedroom 3.jpeg" alt="The Siam, Bangkok">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_CENTER_TSB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_TSB_P1' | translate }}
                </p>
                <a href="http://www.thesiamhotel.com" target="_blank">www.thesiamhotel.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_CENTER_MOB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_MOB_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">www.mandarinoriental.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.mandarinoriental.com/bangkok" target="_blank">
                    <img src="images/hotel_resort/Mandarin Oriental Bangkok.jpeg" alt="Mandarin Oriental Bankok">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.okurabangkok.com" target="_blank">
                    <img src="images/hotel_resort/The Okura Prestige Bangkok.jpeg" alt="The Okura Prestige Bangkok">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_CENTER_OPB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_OPB_P1' | translate }}
                </p>
                <a href="http://www.okurabangkok.com" target="_blank">www.okurabangkok.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_CENTER_TSB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_TSB_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.sukhothai.com" target="_blank">www.sukhothai.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.sukhothai.com" target="_blank">
                    <img src="images/hotel_resort/The Sukhothai Bangkok.jpeg" alt="The Sukhothai Bangkok">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.kempinskibangkok.com" target="_blank">
                    <img src="images/hotel_resort/Siam Kempinski 1.jpeg" alt="Siam Kempinski">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_CENTER_SKB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_SKB_P1' | translate }}
                </p>
                <a href="http://www.kempinskibangkok.com" target="_blank">www.kempinskibangkok.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_CENTER_TRB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_TRB_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.stregisbangkok.com" target="_blank">www.stregisbangkok.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.stregisbangkok.com" target="_blank">
                    <img src="images/hotel_resort/str3199re.106074.jpeg" alt="The St. Regis Bangkok">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.siam-bangkok.anantara.com" target="_blank">
                    <img src="images/hotel_resort/Living Room_Explorer Suite by Jim Thompson.jpeg" alt="Anantara Siam, Bangkok">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_CENTER_ASB_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_ASB_P1' | translate }}</p>
                <a href="http://www.siam-bangkok.anantara.com" target="_blank">www.siam-bangkok.anantara.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_CENTER_SRA_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_SRA_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.salaresorts.com" target="_blank">www.salaresorts.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.salaresorts.com" target="_blank">
                    <img src="images/hotel_resort/Sala Ayutthaya.jpeg" alt="Sala Resort & Spa Ayutthaya">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://huahin.intercontinental.com/la-residence" target="_blank">
                    <img src="images/hotel_resort/La Residence, InterContinental Resort Hua Hin.jpeg" alt="La Residence, Hua Hin">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_CENTER_LRH_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_LRH_P1' | translate }}</p>
                <a href="http://huahin.intercontinental.com/la-residence" target="_blank">huahin.intercontinental.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_CENTER_SKK_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_CENTER_SKK_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.soneva.com/soneva-kiri" target="_blank">www.soneva.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.soneva.com/soneva-kiri" target="_blank">
                    <img src="images/hotel_resort/Tree pod dining- Soneva Kiri by Paul Raeside.jpeg" alt="Soneva Kiri Koh Kood">
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="southern">
    <div class="col-md-12 content-width header" id="southern">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>{{'HOTEL_SOUTHRN_H' | translate }}</span>
            </div>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-10 content-article">
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.rayavadee.com" target="_blank">
                    <img src="images/hotel_resort/Rayavadee.jpeg" alt="Rayavadee, Krabi">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_RVK_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_SOUTHRN_RVK_P1' | translate }}
                </p>
                <a href="http://www.rayavadee.com" target="_blank">www.rayavadee.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_SOUTHRN_SSY_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_SOUTHRN_SSY_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.sixsenses.com" target="_blank">www.sixsenses.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.sixsenses.com" target="_blank">
                    <img src="images/hotel_resort/Six Senses Yao Noi.jpeg" alt="Six Senses Yao Noi">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.comohotels.com/pointyamu" target="_blank">
                    <img src="images/hotel_resort/point yamu by como.jpeg" alt="Rayavadee, Krabi">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_PYC_H' | translate }}</span>
                </div>
                <p>
                    {{'HOTEL_SOUTHRN_PYC_P1' | translate }}
                </p>
                <a href="http://www.comohotels.com/pointyamu" target="_blank">www.comohotels.com</a>
            </div>
        </div>

        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_PRR_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_SOUTHRN_PRR_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.ritzcarlton.com/krabi" target="_blank">www.ritzcarlton.com/krabi</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.ritzcarlton.com/krabi" target="_blank">
                    <img src="images/hotel_resort/new_RCPHUBY_00079.jpeg" alt="Phulay Bay A Ritz-Carlton Reserve, Krabi">
                </a>
            </div>
        </div>


        <hr>
         <div class="row">
    
            <div class="col-md-4 col-lg-3">
                <a href="http://www.aman.com/resorts/amanpuri" target="_blank">
                    <img src="images/hotel_resort/Amanpuri Phuket.jpeg" alt="Amanpuri Phuket">
                </a>
            </div>
            <div class="col-md-8 col-lg-9" >
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_AP_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_SOUTHRN_AP_P1' | translate }}</p>
                <a href="http://www.aman.com/resorts/amanpuri" target="_blank">www.aman.com</a>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>{{'HOTEL_SOUTHRN_SPP_H' | translate }}</span>
                </div>
                <p>
                    {{'HOTEL_SOUTHRN_SPP_P1' | translate }}  
                </p>
                <div class="text-right">
                    <a href="http://www.sripanwa.com" target="_blank">www.sripanwa.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.sripanwa.com" target="_blank">
                    <img src="images/hotel_resort/sri panwa phuket.jpeg" alt="Sri Panwa, Phuket">
                </a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.trisara.com" target="_blank">
                    <img src="images/hotel_resort/Trisara__2_-_6_Bedroom_Ocean_Front__Residence.jpeg" alt="Trisara, Phuket">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_TP_H' | translate }}  </span>
                </div>
                <p>{{'HOTEL_SOUTHRN_TP_P1' | translate }}  
                </p>
                <a href="http://www.trisara.com" target="_blank">www.trisara.com</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'HOTEL_SOUTHRN_IBH_H' | translate }}  </span>
                </div>
                <p>{{'HOTEL_SOUTHRN_IBH_P1' | translate }}</p>
                <div class="text-right">
                    <a href="http://www.iniala.com" target="_blank">www.iniala.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.iniala.com" target="_blank">
                    <img src="images/hotel_resort/Siam Bedroom-by- Ekkarat.jpeg" alt="Iniala Beach House, Phang Nga">
                </a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.nakaislandphuket.com" target="_blank">
                    <img src="images/hotel_resort/RoyalHorizonPoolVilla-SunkenDining.jpeg" alt="The Naka Island Phuket">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_NIP_H' | translate }} </span>
                </div>
                <p>{{'HOTEL_SOUTHRN_NIP_P1' | translate }} 
                </p>
                <a href="http://www.nakaislandphuket.com" target="_blank">www.nakaislandphuket.com</a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'HOTEL_SOUTHRN_VBK_H' | translate }} </span>
                </div>
                <p>
                   {{'HOTEL_SOUTHRN_VBK_P1' | translate }}  
                </p>
                <div class="text-right">
                    <a href="http://www.vanabellekohsamui.com" target="_blank">www.vanabellekohsamui.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.vanabellekohsamui.com" target="_blank">
                    <img src="images/hotel_resort/Vana Belle, A Luxury Collection Resort, Koh Samui.jpeg" alt="Vana Belle, Koh Samui">
                </a>
            </div>
   
        </div>
        <hr>
         <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.wretreatkohsamui.com" target="_blank">
                    <img src="images/hotel_resort/W Retreat Koh Samui.jpeg" alt="W Retreat Koh Samui">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span> {{'HOTEL_SOUTHRN_WRK_H' | translate }}  </span>
                </div>
                <p> {{'HOTEL_SOUTHRN_WRK_P1' | translate }}  </p>
                <div class="text-right">
                    <a href="http://www.wretreatkohsamui.com" target="_blank">www.wretreatkohsamui.com</a>
                </div>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2  text-right">
                    <span>{{'HOTEL_SOUTHRN_BTK_H' | translate }}</span>
                </div>
                <p>
                   {{'HOTEL_SOUTHRN_BTK_P1' | translate }}
                </p>
                <div class="text-right">
                    <a href="http://www.banyantree.com" target="_blank">www.banyantree.com</a>
                 </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.banyantree.com" target="_blank">
                    <img src="images/hotel_resort/Banyan Tree, Koh Samui.jpeg" alt="Banyan Tree, Koh Samui">
                </a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.fourseasons.com/kohsamui" target="_blank">
                    <img src="images/hotel_resort/Four Seasons Resort Koh Samui.jpeg" alt="Four Seasons Resort Koh Samui">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>{{'HOTEL_SOUTHRN_FSK_H' | translate }}</span>
                </div>
                <p>{{'HOTEL_SOUTHRN_FSK_P1' | translate }}</p>
                <a href="http://www.fourseasons.com/kohsamui" target="_blank">www.fourseasons.com</a>
            </div>
        </div>
       
    </div>
</div>