<link href="css/views/hotel.resort.css" rel="stylesheet">

<div class="col-md-12 content-width col-two">
    <div class="col-md-6 content-left">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>Hotels & Resorts <br/> Rest Your Head in Style</span>
            </div>
            <div class="text-body">
                The Land of a Tousand Smiles welcomes visitors with famed and gracious service at a host of five-star hotels and resorts countrywide, where guests are lapped up in luxury. From modern, state-of-the-art city stays to exotic mountain and coastal resort retreats where your every whim and need is catered for, hospitality in Thailand is an art re ned to perfection.
            </div>
        </div>
    </div>
    <div class="col-md-6 header-parallax" ></div>
</div>

<div class="col-md-12 content-width header">
      <div class="content-text center">
        <div class="text-gold-header text-center">
            <span>Northern Thailand</span>
        </div>
      </div>
</div>

<div class="col-md-12 content-width col-two">
    <div class="col-md-6 content-left">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>Hotels & Resorts <br/> Rest Your Head in Style</span>
            </div>
            <div class="text-body">
                The Land of a Tousand Smiles welcomes visitors with famed and gracious service at a host of five-star hotels and resorts countrywide, where guests are lapped up in luxury. From modern, state-of-the-art city stays to exotic mountain and coastal resort retreats where your every whim and need is catered for, hospitality in Thailand is an art re ned to perfection.
            </div>
        </div>
    </div>
    <div class="col-md-6" ></div>
</div>

<div class="col-md-12 content-width header">
    <div class="content-text center">
        <div class="text-gold-header text-center">
            <span>Central & Eastern<br/>Regions</span>
        </div>
    </div>
</div>

<div class="col-md-offset-1 col-md-10 content-article">
    <hr>
    <div class="row">
        <div class="col-md-4">
            <a href="http://www.thesiamhotel.com" target="_blank">
                <img src="images/hotel_resort/Siam Suite Bedroom 3.jpeg" alt="The Siam, Bangkok">
            </a>
        </div>
        <div class="col-md-8">
            <div class="text-gold-header2">
                <span>The Siam, Bangkok</span>
            </div>
            <p>No expense was spared in the creation of e Siam – and it shows. Built at a cost of around US$32 million, this sumptuous hotel is de nitely one of a kind. Conceived by Thai actor and rock star Krissada Sukosol, it is unmistakably one of the most unique boltholes in Bangkok. With assistance from famed American architect Bill Bensley, Sukosol used the 39-room property as a repository for his mammoth collection of antiques and collectibles. Highlights include the 11 pool villas, which have private gardens, secluded roof terraces and oversized bathrooms with 3.2-square-metre hand-fnished terrazzo bathtubs.
            </p>
            <a href="http://www.thesiamhotel.com" target="_blank">www.thesiamhotel.com</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="text-gold-header2 text-right">
                <span>Mandarin Oriental Bankok</span>
            </div>
            <p>Agrande dame of the Asian hotel scene, this opulent riverside fixture oozes comfort and class. Originally built in 1876, the property was a favourite of literary gures including Joseph Conrad and Graham Greene and the writers are honoured in the hotel’s uniquely decorated Heritage Authors’ Suites. e newer Garden and River Wings boast stunning views over the Chao Phraya River along with the latest in tech chic. row in two large pools, a superb spa and some of Bangkok’s most prestigious dining venues and you can see why this remains one of the most desirable addresses in the ai capital.</p>
            <div class="text-right">
                <a href="http://www.mandarinoriental.com/bangkok" target="_blank">www.mandarinoriental.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="http://www.mandarinoriental.com/bangkok" target="_blank">
                <img src="images/hotel_resort/Mandarin Oriental Bangkok.jpeg" alt="Mandarin Oriental Bankok">
            </a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <a href="http://www.okurabangkok.com" target="_blank">
                <img src="images/hotel_resort/The Okura Prestige Bangkok.jpeg" alt="The Okura Prestige Bangkok">
            </a>
        </div>
        <div class="col-md-8">
            <div class="text-gold-header2">
                <span>The Okura Prestige,Bangkok</span>
            </div>
            <p>Located in the nerve center of Bangkok, this sleek triumph is the ideal base from which to explore the Thai capital. Indeed, the city is the star of the show due to the panoramic views afforded by all guest rooms. Everything else is as on-point as the vistas. Rooms are the epitome of understated luxury with beautiful fittings complemented by trimmings such as bespoke amenities and giant flat-screen televisions. Other highlights of the property, meanwhile, include Yamazato, a high-end Japanese dining venue, and the hotel’s incredible 20-metre cantilevered pool. 
            </p>
            <a href="http://www.okurabangkok.com" target="_blank">www.okurabangkok.com</a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <div class="text-gold-header2 text-right">
                <span>The Sukhothai Bangkok</span>
            </div>
            <p>Nestled in the heart of the Thai capital is The Sukhothai Bangkok. Though it’s on the doorstep of the city, it is set far back, beyond greenery and a long driveway, from the hustle and bustle of the CBD’s Sathorn Road. Its guarantee of privacy has drawn celebrities and notable figures to the five-star hotel, though it is the fine dining, particularly at Italian eatery La Scala, and wellness centre Spa Botanica, that keeps them coming back time after time. With elements of traditional Siamese décor throughout, The Sukhothai Bangkok is all about a luxurious yet authentic Thai experience.</p>
            <div class="text-right">
                <a href="http://www.sukhothai.com" target="_blank">www.sukhothai.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="http://www.sukhothai.com" target="_blank">
                <img src="images/hotel_resort/The Sukhothai Bangkok.jpeg" alt="The Sukhothai Bangkok">
            </a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-4">
            <a href="http://www.kempinskibangkok.com" target="_blank">
                <img src="images/hotel_resort/Siam Kempinski 1.jpeg" alt="Siam Kempinski">
            </a>
        </div>
        <div class="col-md-8">
            <div class="text-gold-header2">
                <span>Siam Kempinski, Bangkok</span>
            </div>
            <p>A work of art in several ways, this is one of Bangkok’s most aesthetically appealing hotels. The corridors, halls, spacious rooms and public spaces of the 303-room property are adorned with one of the largest collections of Thai art ever assembled in a hotel. Around 1,500 paintings, sculptures and collages by local artists are showcased. Other compelling touches include three saltwater pools, a spa and fine-dining restaurant Sra Bua, where molecular-gastronomic interpretations of Thai cuisine are served.
            </p>
            <a href="http://www.kempinskibangkok.com" target="_blank">www.kempinskibangkok.com</a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <div class="text-gold-header2 text-right">
                <span>The St. Regis Bangkok</span>
            </div>
            <p>For refined luxury in a spotless central Bangkok location, The St. Regis Bangkok is difficult to beat. Celebrities ranging from royal dignitaries to pop stars and actors have stayed here, and the hotel’s discreet 24-hour butler service, spacious living spaces and opulent interiors are very much up to A-list standard. Enviable extras are plentiful at the property. Many of the best rooms have views of the Royal Bangkok Sports Club. Dining outlets, meanwhile, include Zuma – one of the best Japanese restaurants in the city. 
            </p>
            <div class="text-right">
                <a href="http://www.stregisbangkok.com" target="_blank">www.stregisbangkok.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="http://www.stregisbangkok.com" target="_blank">
                <img src="images/hotel_resort/str3199re.106074.jpeg" alt="The St. Regis Bangkok">
            </a>
        </div>
    </div>



     <div class="row">
        <div class="col-md-4">
            <a href="http://www.siam-bangkok.anantara.com" target="_blank">
                <img src="images/hotel_resort/Living Room_Explorer Suite by Jim Thompson.jpeg" alt="Anantara Siam, Bangkok">
            </a>
        </div>
        <div class="col-md-8">
            <div class="text-gold-header2">
                <span>Anantara Siam, Bangkok</span>
            </div>
            <p>Formerly the Four Seasons Bangkok, this city landmark has lost none of its lustre since rebranding in 2015. Located in the prestigious Rajadamri area of the capital, the property is ideally situated for exploration of the city’s many highlights. Despite its centrality, a feeling of glorious seclusion is engendered by the hotel’s generous garden, a tropical haven of which a gorgeous outdoor swimming pool is the focal point. Elsewhere the emphasis is on elegant simplicity combined with natural luxury, with features like traditional Thai architecture and hand-painted silk ceilings.</p>
            <a href="http://www.siam-bangkok.anantara.com" target="_blank">www.siam-bangkok.anantara.com</a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <div class="text-gold-header2 text-right">
                <span>Sala Resort & Spa Ayutthaya</span>
            </div>
            <p>These boutique resorts are an easy 1-2 hour’s drive from Bangkok, making them perfect for weekend getaways. Each embraces its environment and context: the hilltop Khao Yai location overlooks the green expanse of the country’s largest protected green space, whilst the riverside Ayutthaya location offers views across the water to temples and ancient ruins. Sala Khaoyai offers seven private rooms and pool villas, whilst Sala Ayutthaya’s options include a riverview suite and duplex, as well as two dozen unique guestrooms. The designers have managed to maintain the same architectural DNA of the brand for both, promising an intimate and indulgent experience.
            </p>
            <div class="text-right">
                <a href="http://www.salaresorts.com" target="_blank">www.salaresorts.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="http://www.salaresorts.com" target="_blank">
                <img src="images/hotel_resort/Sala Ayutthaya.jpeg" alt="Sala Resort & Spa Ayutthaya">
            </a>
        </div>
    </div>


     <div class="row">
        <div class="col-md-4">
            <a href="http://huahin.intercontinental.com/la-residence" target="_blank">
                <img src="images/hotel_resort/La Residence, InterContinental Resort Hua Hin.jpeg" alt="La Residence, Hua Hin">
            </a>
        </div>
        <div class="col-md-8">
            <div class="text-gold-header2">
                <span>La Residence, Hua Hin</span>
            </div>
            <p>Part of the Intercontinental Hua Hin Resort, La Residence is a colonial-era style private beach villa that, though it is at the upper end of luxury offerings, still feels like a breezy, beautiful beach home. It is located next to the hotel, and thus takes advantage of the prime location, range of facilities and five-star service on offer next door. The beach is mere steps away from the two-storey villa; a private butler, pool, kitchen (with private chef) complete the experience. Due to the owner’s status within Thailand’s professional tennis sphere, La Residence has also welcomed world-famous athletes like Roger Federer and Rafael Nadal.</p>
            <a href="http://huahin.intercontinental.com/la-residence" target="_blank">huahin.intercontinental.com</a>
        </div>
    </div>
     <div class="row">
        <div class="col-md-8">
            <div class="text-gold-header2 text-right">
                <span>Soneva Kiri Koh Kood</span>
            </div>
            <p>Blissfully marooned from the mainland by 80km of cobalt blue sea, Koh Kood is ideally suited to a luxurious castaway experience. Surrounded by palm-fringed hills in a secluded bay, this getaway is the perfect place to indulge in Robinson Crusoe fantasies and forget the stresses of modern living. The resort’s 29 airy villas are built with local timber and blend sympathetically into the surrounding scenery. Some nestle on the cliff-top while others cosy up to the white sand beach. Diversions are plentiful and include an acclaimed spa, an outdoor cinema and Restaurant Benz, a critically lauded Thai outlet.</p>
            <div class="text-right">
                <a href="http://www.soneva.com/soneva-kiri" target="_blank">www.soneva.com</a>
            </div>
        </div>
        <div class="col-md-4">
            <a href="http://www.soneva.com/soneva-kiri" target="_blank">
                <img src="images/hotel_resort/Tree pod dining- Soneva Kiri by Paul Raeside.jpeg" alt="Soneva Kiri Koh Kood">
            </a>
        </div>
    </div>
    <hr>
</div>