<link href="css/views/hotel.resort.css" rel="stylesheet">

<div class="col-md-12 content-width col-one">
    <div class="header-parallax" >
        <div class="col-md-6 content-left">
            <div class="content-text center">
                <div class="text-gold-header text-center">
                    <span>Hotels & Resorts <br/> Rest Your Head in Style</span>
                </div>
                <div class="text-body">
                    The Land of a Tousand Smiles welcomes visitors with famed and gracious service at a host of five-star hotels and resorts countrywide, where guests are lapped up in luxury. From modern, state-of-the-art city stays to exotic mountain and coastal resort retreats where your every whim and need is catered for, hospitality in Thailand is an art re ned to perfection.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 content-width header">
    <div class="content-text center">
        <div class="text-gold-header text-center">
            <span>Northern Thailand</span>
        </div>
    </div>
</div>


<div class="central"> 
    <div class="col-md-12 content-width header" id="central">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>Central & Eastern<br/>Regions</span>
            </div>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-10 content-article">
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.thesiamhotel.com" target="_blank">
                    <img src="images/hotel_resort/Siam Suite Bedroom 3.jpeg" alt="The Siam, Bangkok">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>The Siam, Bangkok</span>
                </div>
                <p>No expense was spared in the creation of e Siam – and it shows. Built at a cost of around US$32 million, this sumptuous hotel is de nitely one of a kind. Conceived by Thai actor and rock star Krissada Sukosol, it is unmistakably one of the most unique boltholes in Bangkok. With assistance from famed American architect Bill Bensley, Sukosol used the 39-room property as a repository for his mammoth collection of antiques and collectibles. Highlights include the 11 pool villas, which have private gardens, secluded roof terraces and oversized bathrooms with 3.2-square-metre hand-fnished terrazzo bathtubs.
                </p>
                <a href="http://www.thesiamhotel.com" target="_blank">www.thesiamhotel.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>Mandarin Oriental Bankok</span>
                </div>
                <p>Agrande dame of the Asian hotel scene, this opulent riverside fixture oozes comfort and class. Originally built in 1876, the property was a favourite of literary gures including Joseph Conrad and Graham Greene and the writers are honoured in the hotel’s uniquely decorated Heritage Authors’ Suites. e newer Garden and River Wings boast stunning views over the Chao Phraya River along with the latest in tech chic. row in two large pools, a superb spa and some of Bangkok’s most prestigious dining venues and you can see why this remains one of the most desirable addresses in the ai capital.</p>
                <div class="text-right">
                    <a href="http://www.mandarinoriental.com/bangkok" target="_blank">www.mandarinoriental.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.mandarinoriental.com/bangkok" target="_blank">
                    <img src="images/hotel_resort/Mandarin Oriental Bangkok.jpeg" alt="Mandarin Oriental Bankok">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.okurabangkok.com" target="_blank">
                    <img src="images/hotel_resort/The Okura Prestige Bangkok.jpeg" alt="The Okura Prestige Bangkok">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>The Okura Prestige,Bangkok</span>
                </div>
                <p>Located in the nerve center of Bangkok, this sleek triumph is the ideal base from which to explore the Thai capital. Indeed, the city is the star of the show due to the panoramic views afforded by all guest rooms. Everything else is as on-point as the vistas. Rooms are the epitome of understated luxury with beautiful fittings complemented by trimmings such as bespoke amenities and giant flat-screen televisions. Other highlights of the property, meanwhile, include Yamazato, a high-end Japanese dining venue, and the hotel’s incredible 20-metre cantilevered pool. 
                </p>
                <a href="http://www.okurabangkok.com" target="_blank">www.okurabangkok.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>The Sukhothai Bangkok</span>
                </div>
                <p>Nestled in the heart of the Thai capital is The Sukhothai Bangkok. Though it’s on the doorstep of the city, it is set far back, beyond greenery and a long driveway, from the hustle and bustle of the CBD’s Sathorn Road. Its guarantee of privacy has drawn celebrities and notable figures to the five-star hotel, though it is the fine dining, particularly at Italian eatery La Scala, and wellness centre Spa Botanica, that keeps them coming back time after time. With elements of traditional Siamese décor throughout, The Sukhothai Bangkok is all about a luxurious yet authentic Thai experience.</p>
                <div class="text-right">
                    <a href="http://www.sukhothai.com" target="_blank">www.sukhothai.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.sukhothai.com" target="_blank">
                    <img src="images/hotel_resort/The Sukhothai Bangkok.jpeg" alt="The Sukhothai Bangkok">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.kempinskibangkok.com" target="_blank">
                    <img src="images/hotel_resort/Siam Kempinski 1.jpeg" alt="Siam Kempinski">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Siam Kempinski, Bangkok</span>
                </div>
                <p>A work of art in several ways, this is one of Bangkok’s most aesthetically appealing hotels. The corridors, halls, spacious rooms and public spaces of the 303-room property are adorned with one of the largest collections of Thai art ever assembled in a hotel. Around 1,500 paintings, sculptures and collages by local artists are showcased. Other compelling touches include three saltwater pools, a spa and fine-dining restaurant Sra Bua, where molecular-gastronomic interpretations of Thai cuisine are served.
                </p>
                <a href="http://www.kempinskibangkok.com" target="_blank">www.kempinskibangkok.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>The St. Regis Bangkok</span>
                </div>
                <p>For refined luxury in a spotless central Bangkok location, The St. Regis Bangkok is difficult to beat. Celebrities ranging from royal dignitaries to pop stars and actors have stayed here, and the hotel’s discreet 24-hour butler service, spacious living spaces and opulent interiors are very much up to A-list standard. Enviable extras are plentiful at the property. Many of the best rooms have views of the Royal Bangkok Sports Club. Dining outlets, meanwhile, include Zuma – one of the best Japanese restaurants in the city. 
                </p>
                <div class="text-right">
                    <a href="http://www.stregisbangkok.com" target="_blank">www.stregisbangkok.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.stregisbangkok.com" target="_blank">
                    <img src="images/hotel_resort/str3199re.106074.jpeg" alt="The St. Regis Bangkok">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.siam-bangkok.anantara.com" target="_blank">
                    <img src="images/hotel_resort/Living Room_Explorer Suite by Jim Thompson.jpeg" alt="Anantara Siam, Bangkok">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Anantara Siam, Bangkok</span>
                </div>
                <p>Formerly the Four Seasons Bangkok, this city landmark has lost none of its lustre since rebranding in 2015. Located in the prestigious Rajadamri area of the capital, the property is ideally situated for exploration of the city’s many highlights. Despite its centrality, a feeling of glorious seclusion is engendered by the hotel’s generous garden, a tropical haven of which a gorgeous outdoor swimming pool is the focal point. Elsewhere the emphasis is on elegant simplicity combined with natural luxury, with features like traditional Thai architecture and hand-painted silk ceilings.</p>
                <a href="http://www.siam-bangkok.anantara.com" target="_blank">www.siam-bangkok.anantara.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>Sala Resort & Spa Ayutthaya</span>
                </div>
                <p>These boutique resorts are an easy 1-2 hour’s drive from Bangkok, making them perfect for weekend getaways. Each embraces its environment and context: the hilltop Khao Yai location overlooks the green expanse of the country’s largest protected green space, whilst the riverside Ayutthaya location offers views across the water to temples and ancient ruins. Sala Khaoyai offers seven private rooms and pool villas, whilst Sala Ayutthaya’s options include a riverview suite and duplex, as well as two dozen unique guestrooms. The designers have managed to maintain the same architectural DNA of the brand for both, promising an intimate and indulgent experience.
                </p>
                <div class="text-right">
                    <a href="http://www.salaresorts.com" target="_blank">www.salaresorts.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.salaresorts.com" target="_blank">
                    <img src="images/hotel_resort/Sala Ayutthaya.jpeg" alt="Sala Resort & Spa Ayutthaya">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://huahin.intercontinental.com/la-residence" target="_blank">
                    <img src="images/hotel_resort/La Residence, InterContinental Resort Hua Hin.jpeg" alt="La Residence, Hua Hin">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>La Residence, Hua Hin</span>
                </div>
                <p>Part of the Intercontinental Hua Hin Resort, La Residence is a colonial-era style private beach villa that, though it is at the upper end of luxury offerings, still feels like a breezy, beautiful beach home. It is located next to the hotel, and thus takes advantage of the prime location, range of facilities and five-star service on offer next door. The beach is mere steps away from the two-storey villa; a private butler, pool, kitchen (with private chef) complete the experience. Due to the owner’s status within Thailand’s professional tennis sphere, La Residence has also welcomed world-famous athletes like Roger Federer and Rafael Nadal.</p>
                <a href="http://huahin.intercontinental.com/la-residence" target="_blank">huahin.intercontinental.com</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>Soneva Kiri Koh Kood</span>
                </div>
                <p>Blissfully marooned from the mainland by 80km of cobalt blue sea, Koh Kood is ideally suited to a luxurious castaway experience. Surrounded by palm-fringed hills in a secluded bay, this getaway is the perfect place to indulge in Robinson Crusoe fantasies and forget the stresses of modern living. The resort’s 29 airy villas are built with local timber and blend sympathetically into the surrounding scenery. Some nestle on the cliff-top while others cosy up to the white sand beach. Diversions are plentiful and include an acclaimed spa, an outdoor cinema and Restaurant Benz, a critically lauded Thai outlet.</p>
                <div class="text-right">
                    <a href="http://www.soneva.com/soneva-kiri" target="_blank">www.soneva.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.soneva.com/soneva-kiri" target="_blank">
                    <img src="images/hotel_resort/Tree pod dining- Soneva Kiri by Paul Raeside.jpeg" alt="Soneva Kiri Koh Kood">
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="southern">
    <div class="col-md-12 content-width header" id="southern">
        <div class="content-text center">
            <div class="text-gold-header text-center">
                <span>Southern  Thailand</span>
            </div>
        </div>
    </div>

    <div class="col-md-offset-1 col-md-10 content-article">
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.rayavadee.com" target="_blank">
                    <img src="images/hotel_resort/Rayavadee.jpeg" alt="Rayavadee, Krabi">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Rayavadee, Krabi</span>
                </div>
                <p>Rayavadee is what happens when Mother Nature and man-made indulgence combine to create something unforgettable. With three white sand beaches and Krabi’s signature limestone scenery, the owners of the boutique property couldn’t have asked for a more heaven-sent location. Indeed, towering cliffs encircle the resort, meaning that boat is the only way in or out. It is unlikely that guests will want to go anywhere. Villas and pavilions are as sumptuous as you might expect while a wide range of dining and drinking outlets supply ample variety. 
                </p>
                <a href="http://www.rayavadee.com" target="_blank">www.rayavadee.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>Six Senses Yao Noi</span>
                </div>
                <p>Located amidst the stunning karst-studded seascape of Phang Nga Bay in southern Thailand, Six Senses Yao Noi is a sanctuary that is difficult to leave. The experience here kicks off with a bang with guests offered the chance to arrive James Bond-style by helicopter from Phuket International Airport. From there, the pampering never lets up. Hideaway or beachfront villas take care of the accommodations while private dining from top chefs, personal butler service and pursuits ranging from beach strolls to rock climbing and kayaking are among the options on offer. </p>
                <div class="text-right">
                    <a href="http://www.sixsenses.com" target="_blank">www.sixsenses.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.sixsenses.com" target="_blank">
                    <img src="images/hotel_resort/Six Senses Yao Noi.jpeg" alt="Six Senses Yao Noi">
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.comohotels.com/pointyamu" target="_blank">
                    <img src="images/hotel_resort/point yamu by como.jpeg" alt="Rayavadee, Krabi">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Point Yamu by Como, Phuket</span>
                </div>
                <p>
                    While there’s no mistaking the Thai ambience at Point Yamu, guests who appreciate la dolce vita will also love the Italianate touches at the resort. The Southern European influences are largely the responsibility of Paola Navone, the acclaimed Italian designer behind the resort. Med-inspiration is apparent in the sleek styling of the rooms and public areas, and also shines through at the restaurant La Sirena, which purveys flawless Italian food. Suites come with four-poster beds and serene living rooms, while the impressive 100-metre infinity pool has sun loungers surveying Phang Nga Bay.
                </p>
                <a href="http://www.comohotels.com/pointyamu" target="_blank">www.comohotels.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9" >
                <div class="text-gold-header2 text-right">
                    <span>Amanpuri, Phuket</span>
                </div>
                <p>Set in a mature coconut plantation on Phuket’s idyllic west coast, Amanpuri Phuket features a series of superb luxury villas and Thai-style pavilions. The vision of legendary hotelier and founder of Aman Resorts Adrian Zecha, the resort set a standard for experiential luxury worldwide when it was built over 20 years ago, and provides some of the most lavish private getaways money can buy. Celebrities from across the globe regularly make the long journey to enjoy the resort’s holistic Thai therapies and seclude themselves in the lush vegetation and pristine Andaman Sea. Amanpuri started the experiential luxury trend, and is still one of the best. 
                </p>
                <div class="text-right">
                    <a href="http://www.aman.com/resorts/amanpuri" target="_blank">www.aman.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.aman.com/resorts/amanpuri" target="_blank">
                    <img src="images/hotel_resort/Amanpuri Phuket.jpeg" alt="Amanpuri Phuket">
                </a>
            </div>
        </div>
       






        <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.sripanwa.com" target="_blank">
                    <img src="images/hotel_resort/sri panwa phuket.jpeg" alt="Sri Panwa, Phuket">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Sri Panwa, Phuket</span>
                </div>
                <p>
                    Phuket’s global popularity is undeniable, but there remains plenty of scope for getting away from it all on the “Pearl of the Andaman”. Dotted amid the coastal forest, Sri Panwa’s 52 villas are the ultimate in castaway chic. Accommodations are effortlessly contemporary, with plenty of wood furnishings, home cinema systems and pre-loaded iPods. The most alluring feature of the villas, however, is its bedrooms, which are enclosed in floor-to-ceiling glass windows and open out directly to a private infinity pool.  
                </p>
                <a href="http://www.sripanwa.com" target="_blank">www.sripanwa.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>Trisara, Phuket</span>
                </div>
                <p>Phuket’s global popularity is undeniable, but there remains plenty of scope for getting away from it all on the “Pearl of the Andaman”. Dotted amid the coastal forest, Sri Panwa’s 52 villas are the ultimate in castaway chic. Accommodations are effortlessly contemporary, with plenty of wood furnishings, home cinema systems and pre-loaded iPods. The most alluring feature of the villas, however, is its bedrooms, which are enclosed in floor-to-ceiling glass windows and open out directly to a private infinity pool.
                </p>
                <div class="text-right">
                    <a href="http://www.trisara.com" target="_blank">www.trisara.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.trisara.com" target="_blank">
                    <img src="images/hotel_resort/Trisara__2_-_6_Bedroom_Ocean_Front__Residence.jpeg" alt="Trisara, Phuket">
                </a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.iniala.com" target="_blank">
                    <img src="images/hotel_resort/Siam Bedroom-by- Ekkarat.jpeg" alt="Iniala Beach House, Phang Nga">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Iniala Beach House, Phang Nga</span>
                </div>
                <p>
                    Tucked away on gorgeous Natai Beach in Phang Nga, this small but perfectly formed little resort is one of Thailand’s most unique. Owner Mark Weingard ploughed plenty of his substantial fortune into making the property special and few can argue with the results. A total of 11 designers worked on the three villa suites (each divided into three more villas) and magnificent penthouse suite, which are all very different. Other extravagances, meanwhile, include a private cinema, a Thai boxing ring in the gymnasium and a games room with Swarovski-studded pool table. Iniala is also home to Aziamendi, a spectacular fine-dining restaurant. </p>
                <a href="http://www.iniala.com" target="_blank">www.iniala.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>The Naka Island Phuket</span>
                </div>
                <p>Located on the serene Naka Yai island, just five minutes from the Phuket coast, The Naka Island, A Luxury Collection Resort & Spa, Phuket is the perfect archetype of an exclusive island paradise. Guests enjoy glistening speedboat rides, magnificent pool villas and unmatched sunset views of the sparkling Phang Nga Bay throughout their stay. Visiting the resort is all about building lifelong memories. On top of the luxurious Naka Spa, pleasant seaside restaurants and stunning beaches, guests can explore the wonders of the island on vintage bicycles.
                </p>
                <div class="text-right">
                    <a href="http://www.nakaislandphuket.com" target="_blank">www.nakaislandphuket.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.nakaislandphuket.com" target="_blank">
                    <img src="images/hotel_resort/RoyalHorizonPoolVilla-SunkenDining.jpeg" alt="The Naka Island Phuket">
                </a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.vanabellekohsamui.com" target="_blank">
                    <img src="images/hotel_resort/Vana Belle, A Luxury Collection Resort, Koh Samui.jpeg" alt="Vana Belle, Koh Samui">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Vana Belle, Koh Samui</span>
                </div>
                <p>
                   As one of only three resorts in Thailand that is a part of Starwood’s “Luxury Collection,” Vana Belle, A Luxury Collection Resort, Koh Samui sets high standards for lavish experiences. Vana literally means “forest” in Thai, and the resort lives up to its name with stunning pool villas nestled in some of the most remarkable rainforest backdrops. Tucked away in a secluded cove on Koh Samui’s famous Chaweng Beach, the resort offers unmatched private luxury – 80 pool villas, each designed to make guests feel like they are the only people on the island. 
                </p>
                <a href="http://www.vanabellekohsamui.com" target="_blank">www.vanabellekohsamui.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>W Retreat Koh Samui</span>
                </div>
                <p>One of only two W Retreats in Southeast Asia (the other is located in Bali), this luxury getaway with its 74 pool villas is located on the southernmost tip of the island, surrounded by lush tropical jungle. With its ultra-chic design and a very contemporary flavour, the resort holds particular appeal for a younger, jetset crowd who enjoy curated music and cocktails along with all the luxury trimmings life has to offer. A combination of trendy bars and two world-class restaurants combine with fun, resort-style activities and a beautiful spa to ensure every minute spent here contributes to an unforgettable experience.</p>
                <div class="text-right">
                    <a href="http://www.wretreatkohsamui.com" target="_blank">www.wretreatkohsamui.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.wretreatkohsamui.com" target="_blank">
                    <img src="images/hotel_resort/W Retreat Koh Samui.jpeg" alt="W Retreat Koh Samui">
                </a>
            </div>
        </div>
          <hr>
        <div class="row">
            <div class="col-md-4 col-lg-3">
                <a href="http://www.banyantree.com" target="_blank">
                    <img src="images/hotel_resort/Banyan Tree, Koh Samui.jpeg" alt="Banyan Tree, Koh Samui">
                </a>
            </div>
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2">
                    <span>Banyan Tree, Koh Samui</span>
                </div>
                <p>
                   Overlooking the scenic Lamai Bay on Samui’s southeastern coast, this sweeping collection of carefully curated villas is ensconced on a private hill cove in a series of cascading terraces. An enviable location means unparalleled views of the Gulf of Thailand. The resort is a haven of tranquility that reflects traditional Thai architecture, with each pool villa offering every luxury fixture and amenity your heart desires. World-famous for its own in-house spa brand that offers a wide array of holistic treatment packages, guests are pampered with equally legendary service, fine cuisine and a host of destination-inspired activities.
                </p>
                <a href="http://www.banyantree.com" target="_blank">www.banyantree.com</a>
            </div>
        </div>
        <hr>
         <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="text-gold-header2 text-right">
                    <span>Four Seasons Resort Koh Samui</span>
                </div>
                <p>Overlooking the scenic Lamai Bay on Samui’s southeastern coast, this sweeping collection of carefully curated villas is ensconced on a private hill cove in a series of cascading terraces. An enviable location means unparalleled views of the Gulf of Thailand. The resort is a haven of tranquility that reflects traditional Thai architecture, with each pool villa offering every luxury fixture and amenity your heart desires. World-famous for its own in-house spa brand that offers a wide array of holistic treatment packages, guests are pampered with equally legendary service, fine cuisine and a host of destination-inspired activities. </p>
                <div class="text-right">
                    <a href="http://www.fourseasons.com/kohsamui" target="_blank">www.fourseasons.com</a>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <a href="http://www.fourseasons.com/kohsamui" target="_blank">
                    <img src="images/hotel_resort/Four Seasons Resort Koh Samui.jpeg" alt="Four Seasons Resort Koh Samui">
                </a>
            </div>
        </div>
       
    </div>
</div>